@using System.Globalization;
@{
    ViewBag.Title = "Investir dans Fideros : Portail des Entreprises B2B - ZLECAF";
    ViewBag.MetaDescription = "Découvrez la Plateforme Multiservices Fideros B2B. Une opportunité unique pour investir !";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<!-- Sliders Section -->
<section>
    <div class="bannerimg cover-image bg-background3" data-image-src="../assets/images/banners/banner2.jpg">
        <div class="header-text mb-0">
            <div class="container">
                <div class="text-center text-white">
                    <h1 class="mb-1" style="font-size: 3rem; font-weight:800; font-family:'Maven Pro';">
                        À PROPOS DE FIDEROS
                    </h1>

                </div>
            </div>
        </div><!-- /header-text -->
    </div>
</section>
<!-- Sliders Section -->
<!-- Blogs -->
<section class="sptb">
    <div class="container">
        <div class="section-title center-block text-center">
            <p style="font-family:'Maven Pro';font-size: 25px;"><b>Fideros</b>&nbsp;est une Plateforme digitale B2B de promotion, d'échange, de mise en relation et de recrutement de talents pour offrir des avantages décisifs aux entreprises opérant dans le cadre de la ZLECAf.</p>
        </div>

        <div class="card">
            <div class="card-body">
                <div class="item-box text-left d-flex align-items-end">
                    <div class="stamp text-left stamp-lg bg-primary"><i class="fa fa-bullseye"></i></div>
                    <h3 class="font-weight-semibold ml-3 mb-0" style="font-family:'Maven Pro';">&nbsp;&nbsp;NOTRE VISION</h3>
                </div>
                <div class="mt-3">
                    <p class="text-muted mb-0" style="font-size:18px;">
                        Chez Fideros, nous croyons en le potentiel extraordinaire de la Zone de libre-échange continentale africaine (ZLECAf) pour stimuler la croissance économique en Afrique.
                        <br />
                        <br />
                        Notre vision est de jouer un rôle clé dans la transformation de la ZLECAf en un hub dynamique pour les échanges commerciaux, la mise en relation d'entreprises et le recrutement de talents, en facilitant les opportunités et en favorisant la prospérité à travers le continent.
                    </p>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <div class="item-box text-left d-flex align-items-end">
                    <div class="stamp text-left stamp-lg bg-secondary"><i class="fa fa-clock-o"></i></div>
                    <h3 class="font-weight-semibold ml-3 mb-0" style="font-family:'Maven Pro';">&nbsp;&nbsp;NOTRE MISSION</h3>
                </div>
                <div class="mt-3">
                    <p class="text-muted mb-0" style="font-size:18px;">
                        Fideros s'engage à construire une plateforme numérique innovante qui connecte les entreprises et les talents au sein de la ZLECAf de manière transparente, efficace et sécurisée. Notre mission est de :
                    </p>
                    <ul class="list-unstyled widget-spec vertical-scroll mt-3 mb-0">
                        <li>
                            <i class="fa fa-circle text-primary" aria-hidden="true"></i>
                            <p class="text-muted mb-0" style="font-size:18px;">
                                <b>Faciliter le commerce</b> <br />
                                Éliminer les barrières pour les entreprises et favoriser les partenariats commerciaux au sein de la ZLECAf.
                            </p>
                        </li>
                        <li>
                            <i class="fa fa-circle text-primary" aria-hidden="true"></i>
                            <p class="text-muted mb-0" style="font-size:18px;">
                                <b>Promouvoir la collaboration</b> <br />
                                Permettre aux entreprises de trouver des partenaires stratégiques et de collaborer pour développer leurs activités.
                            </p>
                        </li>
                        <li>
                            <i class="fa fa-circle text-primary" aria-hidden="true"></i>
                            <p class="text-muted mb-0" style="font-size:18px;">
                                <b>Catalyser le recrutement de Talents</b> <br />
                                Mettre en relation les entreprises avec les talents les plus qualifiés du continent.
                            </p>
                        </li>
                        <li>
                            <i class="fa fa-circle text-primary" aria-hidden="true"></i>
                            <p class="text-muted mb-0" style="font-size:18px;">
                                <b>Soutenir le développement économique</b> <br />
                                Contribuer à la création d'emplois, à la croissance des entreprises et à la prospérité économique en Afrique.
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <div class="item-box text-left d-flex align-items-end">
                    <div class="stamp text-left stamp-lg bg-primary"><i class="zmdi zmdi-view-web"></i></div>
                    <h3 class="font-weight-semibold ml-3" style="font-family:'Maven Pro'; margin-bottom: 0;">&nbsp;&nbsp;NOTRE PLATEFORME</h3>
                </div>
                <div class="mt-3">
                    <p class="text-muted mb-0" style="font-size: 18px;">
                        Fideros est une plateforme numérique qui révolutionne le commerce B2B en Afrique. Grâce à la technologie des contrats intelligents, nous sécurisons les transactions, simplifions les échanges et renforçons la confiance entre les entreprises dans le cadre de la ZLECAf.<br />
                        <br />
                        Nous mettons un fort accent sur la sécurité des données et la confidentialité, assurant ainsi que les utilisateurs de notre plateforme puissent opérer en toute confiance.
                    </p>
                    <p class="text-center" style="font-size: 20px;">
                        <a class="btn btn-info" style="font-size: 18px;" href="https://www.fideros.com" target="_blank"><b>DÉCOUVRIR LA PLATEFORME Fideros</b></a>
                    </p>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <div class="item-box text-left d-flex align-items-end">
                    <div class="stamp text-left stamp-lg  bg-secondary"><i class="fa fa-users"></i></div>
                    <h3 class="font-weight-semibold ml-3 mb-0" style="font-family:'Maven Pro';">&nbsp;&nbsp;NOTRE ÉQUIPE</h3>
                </div>
                <div class="mt-3">
                    <p class="text-muted mb-0" style="font-size:18px;">L'équipe de Fideros est composée de professionnels passionnés et dévoués qui possèdent une vaste expérience dans le domaine de la technologie, du commerce international, et du recrutement de talents. Nous sommes résolus à réaliser notre vision et à faire de Fideros la référence en matière de commerce, de mise en relation et de recrutement au sein de la ZLECAf.</p>
                </div>
            </div>
        </div>


        <div class="item-all-cat center-block text-center books-categories" id="container3">
            <h1 style="font-size: 2rem; font-weight:800; font-family:'Maven Pro';">
                NOUS REJOINDRE
            </h1>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="card ">
                    <div class="card-body ">
                        <p class=" mb-0" style="font-size:20px;">
                            Nous invitons les investisseurs à nous rejoindre dans cette aventure passionnante pour transformer la ZLECAf en un moteur de croissance économique pour l'Afrique. Ensemble, nous pouvons construire un avenir prometteur pour le continent et contribuer à la prospérité de millions de personnes.
                            <br /><br />
                            Pour en savoir plus sur les opportunités d'investissement et comment vous pouvez participer à notre mission, contactez-nous dès aujourd'hui.
                        </p>
                        <br />
                        <div class="col-lg-12 col-md-12 text-center"><span><a class="btn btn-secondary" href="@Url.Action("WebContact", "Global" )" style="font-size: 1.1rem;font-weight:bold">INVESTIR DANS FIDEROS</a></span></div>
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="item-all-cat center-block text-center books-categories" id="container3">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card ">
                                <div class="card-body">
                                    <div class="support">
                                        <div class="row text-white">
                                            <div class="col-xl-4 col-lg-12 col-md-12">
                                                <div class="support-service bg-primary">
                                                    <a class="text-white linkhoverinwhite" href="tel:+33633372424" target="_blank">
                                                        <i class="fa fa-phone"></i>
                                                        <h6>+33 6 33 37 24 24</h6>
                                                        <P>CEO Fideros</P>
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="col-xl-4 col-lg-12 col-md-12">
                                                <div class="support-service bg-primary">
                                                    <a class="text-white" href="https://wa.me/22991953795?text=Information&nbsp;sur&nbsp;Fideros" target="_blank">
                                                        <i class="fa fa-whatsapp"></i>
                                                        <h6>+229 91 95 37 95</h6>
                                                        <P>CEO Fideros</P>
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="col-xl-4 col-lg-12 col-md-12">
                                                <div class="support-service bg-secondary">
                                                    <a class="text-white" href="mailto:investment@fideros.com" target="_blank">
                                                        <i class="fa fa-envelope-o"></i>
                                                        <h6>investment@fideros.com</h6>
                                                        <p>CEO Fideros</p>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Blogs -->
