@{
    ViewBag.Title = "Fideros Investment : Politique de cookies";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--Breadcrumb-->
<section>
    <div class="bannerimg cover-image bg-background3" data-image-src="../assets/images/banners/banner2.jpg">
        <div class="header-text mb-0">
            <div class="container">
                <div class="text-center text-white ">
                    <h1 class="mb-1" style="font-size: 3rem; font-weight:800; font-family:'Maven Pro';">POLITIQUE DE COOKIES</h1>
                </div>
            </div>
        </div>
    </div>
</section>
<!--/Breadcrumb-->
<!--Add listing-->
<section class="sptb">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12">
                <div class="card">
                    <div class="card-body text-justify">
                        <div class="item7-card-desc d-flex mb-2 mt-2">
                        </div>
                        <p class=" mb-0" style="font-size:16px;"><b>ISITIAM</b> souhaite vous informer de manière claire et transparente sur l'usage des cookies lors de votre navigation sur notre Site et nos Applications.</p>
                        <br />
                        <br />
                        <h1 style="font-size: 1.6rem; font-weight:500; font-family:'Maven Pro';">Qu'est-ce qu'un cookie?</h1>
                        <p class=" mb-0" style="font-size:16px;">Un cookie est un fichier texte stocké sur le disque dur de votre terminal (ordinateur, tablette, mobile) par le biais de votre logiciel de navigation à l'occasion de la consultation d'un service en ligne. </p>
                        <br />
                        <p class=" mb-0" style="font-size:16px;">Cela signifie qu’un cookie Fideros.com vous est envoyé à chaque fois que vous ouvrez une page sur notre site à partir de votre ordinateur ou de votre appareil mobile. Les cookies enregistrés par nous ou par des tiers lorsque vous visitez notre Site ou nos Applications ne vous reconnaissent pas personnellement en tant qu'individu, mais reconnaissent seulement l'appareil que vous êtes en train d'utiliser. Les cookies ne stockent aucune donnée personnelle sensible ou directement identifiante mais donnent simplement une information sur votre navigation de façon à ce que votre terminal puisse être reconnu plus tard. </p>
                        <br />
                        <p class=" mb-0" style="font-size:16px;">Les cookies ne causent aucun dommage à votre appareil, mais permettent plus facilement par exemple de retrouver vos préférences, de pré-remplir certains champs et d'adapter le contenu de nos services. </p>
                        <br />
                        <p class=" mb-0" style="font-size:16px;">Vous seul(e) choisissez si vous souhaitez avoir des cookies enregistrés sur votre appareil et vous pouvez facilement contrôler l'enregistrement des cookies. Pour une information spécifique sur la gestion et le contrôle des cookies, veuillez-vous référer à la rubrique « Vos choix concernant les cookies ».</p>
                        <br />
                        <br />
                        <h1 style="font-size: 1.6rem; font-weight:500; font-family:'Maven Pro';">Les cookies utilisés par FIDEROS</h1>
                        <h1 style="font-size: 1.2rem; font-weight:500; font-family:'Maven Pro';">
                            Les cookies fonctionnels</h3>
                            <p class=" mb-0" style="font-size:16px;">
                                Les cookies fonctionnels que nous émettons nous permettent :
                                <br />
                                <ul style="list-style:circle;margin-left:15px;font-size:16px;">
                                    <li>
                                        de vous identifier lorsque vous vous connectez sur notre Site
                                    </li>
                                    <br />
                                    <li>
                                        d'adapter la présentation de nos Sites, Applications et espaces publicitaires aux préférences d'affichage de votre terminal (langue utilisée, résolution d'affichage, système d'exploitation utilisé, etc), selon les matériels et les logiciels de visualisation ou de lecture que votre terminal comporte
                                    </li>
                                    <br />
                                    <li>
                                        de faciliter vos recherches en conservant vos recherches automatiques et vos Annonces sauvegardées
                                    </li>
                                    <br />
                                    <li>d'améliorer votre expérience utilisateur en pré-remplissant certains champs de nos formulaires</li>
                                </ul>
                                <br />
                                Ces cookies ont une durée de conservation de 13 mois.
                            </p>
                            <h1 style="font-size: 1.2rem; font-weight:500; font-family:'Maven Pro';">
                                Les cookies analytiques</h3>
                                <p class=" mb-0" style="font-size:16px;">
                                    Les cookies analytiques que nous déposons nous permettent d’analyser l’utilisation de nos Sites et Applications et d'améliorer notre parcours utilisateur en établissant des statistiques et volumes de fréquentation et d'utilisation (rubriques et contenus visités, parcours...).
                                    <br />
                                <p class=" mb-0" style="font-size:16px;">
                                    Ces cookies ont une durée de conservation de 13 mois.
                                </p>
                                </p>
                                <br />
                                <h1 style="font-size: 1.2rem; font-weight:500; font-family:'Maven Pro';">
                                    Les cookies de publicité ciblée</h3>
                                    <p class=" mb-0" style="font-size:16px;">
                                        A l’occasion de vos visites sur Fideros.com, nous sommes susceptibles de placer des cookies sur votre terminal afin de créer des segments utilisateurs basés sur vos intérêts et de vous faire bénéficier de contenus publicitaires ciblés pertinents pour vous et vos centres d’intérêts, sur notre site comme sur des sites tiers, comme expliqué dans notre Politique de confidentialité.

                                        Les cookies de publicité ciblée sont aussi utilisés :
                                        <ul style="font-size:16px;">
                                            Ces cookies ont une durée de conservation de 13 mois.
                                    </p>
                                    <li>
                                        pour limiter le nombre de fois où vous voyez une publicité et pour aider à mesurer l'efficacité d'une campagne publicitaire
                                    </li>
                                    <li>
                                        pour nous permettre de savoir si un utilisateur ayant vu une publicité a par la suite visité le site de l’annonceur et y a réalisé une action (par exemple, inscription à une newsletter)
                                    </li>
                                    </ul>
                                    <br />
                                    <p class=" mb-0" style="font-size:16px;">
                                        La durée de vie de nos cookies de publicité ciblée est de 60 jours.
                                    </p>
                                    </p>
                                    <br />
                                    <h1 style="font-size: 1.6rem; font-weight:500; font-family:'Maven Pro';">Les cookies de nos partenaires</h1>
                                    <p class=" mb-0" style="font-size:16px;">
                                        Des cookies peuvent être déposés sur votre navigateur, avec votre consentement, par nos partenaires agissant en qualité de responsables de traitements. On parle alors de cookie tiers.

                                        C’est le cas :
                                        <br /><br />
                                        <ul style="list-style:circle;margin-left:15px;font-size:16px;">
                                            <li>
                                                à l’occasion de l’intégration sur notre site de certains modules et fonctionnalités, comme les boutons sociaux;
                                            </li>
                                            <li>
                                                à des fins de publicité ciblée.
                                            </li>
                                        </ul>
                                        <br /><br />
                                    <p class=" mb-0" style="font-size:16px;">
                                        FIDEROS ne gère pas les cookies de ces sociétés partenaires et n'a aucun contrôle ni responsabilité sur ces cookies et sur l’utilisation des données collectées par leur biais. A cet égard, nous vous conseillons de consulter la propre politique de ces partenaires liée à ces cookies.
                                    </p>
                                    </p>
                                    <h1 style="font-size: 1.6rem; font-weight:500; font-family:'Maven Pro';">Paramètres de votre navigateur et de vos appareils mobiles</h1>
                                    <p class=" mb-0" style="font-size:16px;">
                                        Vous pouvez à tout moment configurer votre navigateur de manière à ce que des cookies soient enregistrés dans votre terminal (opt-in) ou, au contraire, qu'ils soient rejetés (opt-out). Certains navigateurs vous permettent de définir des règles pour gérer les cookies site par site.

                                        Pour la gestion des cookies, la configuration de chaque navigateur est différente. Elle est décrite dans le menu d'aide de votre navigateur, qui vous permettra de savoir de quelle manière modifier vos souhaits :
                                        <br /> <br />
                                        <ul style="list-style:circle;margin-left:15px;font-size:16px;">
                                            <li>
                                                <a href="https://privacy.microsoft.com/en-us/ie11-win7-privacy-statement" target="_blank">Internet Explorer</a>
                                            </li>
                                            <li>
                                                <a href="https://www.apple.com/legal/privacy/en-ww/" target="_blank">Safari</a>
                                            </li>
                                            <li>
                                                <a href="https://support.google.com/chrome/answer/95647?hl=fr&hlrm=en" target="_blank">Chrome</a>
                                            </li>
                                            <li>
                                                <a href="https://support.mozilla.org/fr/kb/activer-desactiver-cookies-preferences?redirectlocale=fr&redirectslug=activer-desactiver-cookies" target="_blank">Firefox</a>
                                            </li>
                                            <li>
                                                <a href="https://www.apple.com/legal/privacy/en-ww/" target="_blank">Opera</a>
                                            </li>
                                        </ul>
                                        <br />
                                    <p class=" mb-0" style="font-size:16px;">
                                        Par ailleurs, la procédure pour désactiver le ciblage publicitaire de vos appareils mobiles est la suivante : <br />
                                    </p>
                                    <ul style="list-style:circle;margin-left:15px;font-size:16px;">
                                        <li>
                                            sur iOS, rendez-vous sur les réglages de confidentialité, accédez à l’option « publicité » et activez le "suivi publicitaire limité"
                                        </li>
                                        <li>
                                            sur Android, rendez-vous dans l’application "paramètres Google", activez l’option « désactiver les annonces par centre d’intérêt » et "réinitialiser l’identifiant publicitaire".
                                        </li>
                                    </ul>
                                    <br />

                                    </p>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--/Add listing-->
