@{
    ViewBag.Title = "Fideros Investment : Conditions générales";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--Breadcrumb-->
<section>
    <div class="bannerimg cover-image bg-background3" data-image-src="../assets/images/banners/banner2.jpg">
        <div class="header-text mb-0">
            <div class="container">
                <div class="text-center text-white ">
                    <h1 class="mb-1" style="font-size: 3rem; font-weight:800; font-family:'Maven Pro';">CONDITIONS GÉNÉRALES</h1>
                </div>
            </div>
        </div>
    </div>
</section>
<!--/Breadcrumb-->
<!--Add listing-->
<section class="sptb">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12">
                <div class="card">
                    <div class="card-body text-justify">
                        <div class="item7-card-desc d-flex mb-2 mt-2">
                        </div>
                        <a href="#DEFINITIONS" class="text-dark mt-2"><h4 class="font-weight-semibold mt-1">DÉFINITIONS</h4></a>
                        <a href="#TERMSOFUSE" class="text-dark mt-2"><h4 class="font-weight-semibold mt-1">CONDITIONS GÉNÉRALES D'UTILISATION</h4></a>
                        <a href="#TERMSOFSALES" class="text-dark mt-2"><h4 class="font-weight-semibold mt-1">CONDITIONS GÉNÉRALES DE VENTE</h4></a>
                        <br />
                        <br />

                        <a id="DEFINITIONS"></a>
                        <div id="DIV-DEFINITIONS">
                            <h2 class="font-weight-semibold">DEFINITIONS</h2>
                            <p>
                                Chacun des termes mentionnés ci-dessous aura dans les présentes Conditions Générales d'Utilisation du Service Fideros (ci-après dénommées les " CGU ") la signification suivante :
                            </p>
                            <p>
                                <b>Acheteur</b> : désigne tout Utilisateur personne physique majeure titulaire d’un Compte Personnel qui achète ou souhaite acheter un ou plusieurs Biens sur le Site à un Vendeur.
                            </p>
                            <p>
                                <b>Adhésion</b> : Le fait de devenir Membre de Fideros en vous inscrivant sur le site Fideros ou application Fideros Mobile et en participant à un programme de fidélité proposé par un commerçant sur Fideros.
                            </p>
                            <p>
                                <b>Annonce</b> : désigne l'ensemble des éléments et données (visuelles, textuelles, sonores, photographies, dessins), déposé par un Annonceur sous sa responsabilité éditoriale, en vue d'acheter, de louer ou de vendre un bien ou de proposer ou de rechercher un service ou un emploi et diffusé sur le Site et les Applications.
                            </p>
                            <p>
                                <b>Annonceur</b> : désigne toute personne Physique majeure ou personne morale, titulaire d’un Compte Pro ou Personnel, et ayant déposé et mis en ligne une Annonce via le Service Fideros.
                            </p>
                            <p>
                                <b>Applications</b> : désigne l’application Android téléchargeable gratuitement sur un téléphone Android depuis le Google Play Store, et l’application optimisée pour iPhone et iPad téléchargeable depuis l’App Store d’Apple gratuitement sur un iPhone ou un iPad disposant a minima, de la version iOS 9 pour iPhone et iPad, permettant aux Utilisateurs et aux Annonceurs d’accéder au service Fideros tel que défini à l’article 3.1 des présentes CGU.
                            </p>
                            <p>
                                <b>Bien</b> : désigne tout produit dont la vente n’est pas interdite par la réglementation française applicable ni par les règles de diffusion du Site et qui est proposé à la vente par le Vendeur sur le Site via le Service de Paiement Sécurisé.
                            </p>
                            <p>
                                <b>Compte Personnel</b> : désigne l'espace gratuit, accessible depuis le Site Internet et les Applications, que tout Annonceur Particulier doit se créer, et à partir duquel il peut diffuser, gérer, visualiser ses Annonces, souscrire à une ou des option(s) payante(s) et acheter des crédits.
                            </p>
                            <p>
                                <b>Compte Pro</b> : désigne l'espace accessible depuis le Site et les Applications, que tout Annonceur Pro doit se créer, et à partir duquel il peut diffuser (à l'exception de l'Annonceur Pro bénéficiant de l'une des formules du Pack Auto ou le Pack Fideros Immo et diffusant ainsi ses Annonces sur le Service Fideros directement depuis son logiciel personnel de gestion d'Annonces), gérer, visualiser ses annonces et effectuer ses commandes.
                            </p>
                            <p><b>Crédit Fideros</b> : Unité de valeur acquise de la part de Fideros, d'un autre Membre ou d'un Partenaire. Un Crédit Fideros peut avoir la dénomination Fideros sur le site Fideros ou auprès des Partenaires. Un Fideros possède une valeur monétaire en EUROS ou F CFA fixe et garantie pour obtenir le remboursement par virement bancaire ou autres avantages sur le site Web Fideros. </p>
                            <p><b>Membre</b> : Personne physique inscrite sur les sites Web Fideros ou via l'application Fideros Mobile, qui détient un NKey Fideros et qui est le bénéficiaire de générosités, de coupons de réduction ou de bons d'achat de la part des Partenaires affiliés ou d’autres Membres. Un Membre peut aussi avoir la dénomination Membre Fideros. </p>
                            <p>
                                <b>Messagerie</b> : désigne le système de messagerie mis à la disposition des Utilisateurs et des Annonceurs dans le cadre du Service Fideros et permettant leur communication par échange de messages privés que seuls les Utilisateurs et Annocneurs concernés peuvent consulter. La Messagerie est uniquement accessible aux Utilisateurs et Annonceurs disposant d'un Compte Personnel.
                            </p>
                            <p><b>NKey Fideros</b> : C’est la clé d’identification unique d’un Membre ou un Partenaire du réseau Fideros.</p>
                            <p>
                                <b>Notifications</b> : désigne les notifications reçues par les Utilisateurs et les Annonceurs Particuliers et Pro dans le cadre du Service Fideros dans les cas définis à l’article 3.2.2 des présentes CGU. Les Notifications sont uniquement accessibles aux Utilisateurs et aux Annonceurs disposant d’un Compte Personnel et/ou Professionnel depuis l’Application.
                            </p>
                            <p><b>Partenaire</b> : Organisation ou Entreprise (Enseigne, commerçant, …) disposant d’un contrat Fideros leur permettant d’offrir des générosités, des coupons de réduction ou des bons d'achat aux Membres Fideros. </p>
                            <p><b>Point Partenaire</b> : Unité de valeur acquise de la part d'un Membre Partenaire. Un Point Partenaire ne peut avoir que la dénomination Point Partenaire sur le site de Fideros ou auprès des Partenaires. Un Point Partenaire possède la valeur que lui attribue un Partenaire et peut permettre d'obtenir des Points Fideros équivalents ou autres avantages auprès du Partenaire. </p>
                            <p>
                                <b>Recommandation</b> : désigne toute évaluation d'un Vendeur ou d'un Acheteur représentée quantitativement par une note allant de 1 à 5 étoiles affichée sur son profil. L’Acheteur ou le Vendeur peut laisser une recommandation uniquement après qu’une Transaction ait été réalisée entre eux sur le Site ou les Applications via le Service de Paiement Sécurisé.
                            </p>
                            <p><b>Point de vente</b> : Un point de vente est un établissement de vente au détail qui a une réelle activité de vente. Il peut être physique (magasin) ou virtuel (site e-commerce). De manière générale, un point de vente représente dans Fideros toute entité autorisée à attribuer des Points Partenaires aux membres utilisateurs. </p>
                            <p>
                                <b>Service de Paiement Sécurisé</b> : désigne le service de paiement en ligne des Biens mis à disposition du Vendeur et de l’Acheteur sur le Site et les Applications
                            </p>
                            <p>
                                <b>Service Fideros</b> : désigne les services Fideros mis à la disposition des Utilisateurs et des Annonceurs sur le Site Internet et les Applications tels que décrits à l'article 2 des présentes CGU.
                            </p>
                            <p>
                                <b>Site</b> : désigne le site internet exploité par FIDEROS accessible principalement depuis l'URL www.fideros.com et permettant aux Utilisateurs et aux Annonceurs d'accéder via internet au Service Fideros décrit à l'article 3.1 des présentes CGU.
                            </p>
                            <p>
                                <b>Utilisateur</b> : désigne tout visiteur, ayant accès au Service Fideros via le Site et les Applications et consultant le Service Fideros, accessible depuis les différents supports.
                            </p>
                            <p>
                                <b>Transaction</b> : désigne les transactions qui transfèrent la propriété d’un Bien d’un Vendeur à un Acheteur, à compter de la validation du paiement et la réception du Bien par l’Acheteur, en vertu du contrat de vente conclu entre eux via l’utilisation du Service de Paiement Sécurisé.
                            </p>
                            <p>
                                <b>Vendeur</b> : désigne tout Annonceur Particulier qui propose un ou plusieurs Biens à la vente et choisit d’utiliser le Service de Paiement Sécurisé. Les Annonceurs Professionnels ne sont pas autorisés à utiliser le Service de Paiement Sécurisé.
                            </p>
                        </div>

                        <br />
                        <a id="TERMSOFUSE"></a>
                        <div id="DIV-TERMSOFUSE">
                            <h2 class="font-weight-semibold">CONDITIONS GENERALES D'UTILISATION</h2>
                            <h3 class="font-weight-semibold">Communication électronique</h3>
                            <p>
                                Quand vous utilisez un quelconque Service Fideros ou que vous nous envoyez des courriers électroniques, SMS ou autres communications depuis vos équipements fixes ou mobiles, vous communiquez avec nous électroniquement.<br />
                                Nous communiquerons avec vous électroniquement par divers moyens, tels que par courrier électronique, SMS, messages de notification dans l'application ou en postant des courriers électroniques ou des communications sur le site internet ou à travers les autres Services Fideros, tels que notre Gestionnaire de communication.<br />
                                A des fins contractuelles, vous acceptez que tous les accords, informations, divulgations et autres communications que nous vous enverrons électroniquement remplissent toutes les obligations légales des communiquer par écrit, à moins qu'une loi impérative spécifique impose un autre mode de communication.
                            </p>
                            <h3 class="font-weight-semibold">Recommandation et personnalisation</h3>
                            <p>
                                Dans le cadre des Services Fideros, nous vous recommanderons des fonctionnalités, des produits et des services, comprenant des publicités de tiers, qui sont susceptibles de vous intéresser, nous identifierons vos préférences et nous personnaliserons votre expérience.
                            </p>
                            <h3 class="font-weight-semibold">Propriété intellectuelle, droits d'auteur et protection des base de données</h3>
                            <p>Tout le contenu présent ou rendu disponible à travers les Services Fideros, tels que les textes, les graphiques, les logos, les boutons, les images, les morceaux de musique, les téléchargements numériques, et les compilations de données, est la propriété de Fideros, de ses sociétés affiliées ou de ses fournisseurs de contenu et est protégé par le droit luxembourgeois et international de la propriété intellectuelle, d'auteur et de protection des bases de données. La compilation de tout le contenu présent ou rendu disponible à travers les Services Fideros est la propriété exclusive de Fideros et est protégé par le droit luxembourgeois et international de la propriété intellectuelle et de protection des bases de données.</p>
                            <p>Vous ne devez pas extraire et/ou réutiliser de façon systématique des parties du contenu de tout Service Fideros sans notre autorisation expresse et écrite. En particulier, vous ne devez pas utiliser de robot d'aspiration de données, ou tout autre outil similaire de collecte ou d'extraction de données pour extraire (en une ou plusieurs fois), pour réutiliser une partie substantielle d'un quelconque Service Fideros, sans notre accord express et écrit. Vous ne devez pas non plus créer et/ou publier vos propres bases de données qui comporteraient des parties substantielles (ex : nos prix et nos listes de produits) d'un Service Fideros sans notre accord express et écrit.</p>
                            <h3 class="font-weight-semibold">Marques déposées</h3>
                            <p>
                                Les graphiques, logos, en-têtes de page, boutons, scripts et noms de services inclus ou rendus disponibles à travers un Service Fideros sont des marques ou visuels de Fideros. Les marques et visuels de Fideros ne peuvent pas être utilisés pour des produits ou services qui n'appartiennent pas à Fideros, ou d'une quelconque manière qui pourrait provoquer une confusion parmi les clients, ou d'une quelconque manière qui dénigre ou discrédite Fideros. Toutes les autres marques qui n'appartiennent pas à Fideros et qui apparaissent sur un quelconque Service Fideros sont la propriété de leurs propriétaires respectifs, qui peuvent, ou non, être affiliés, liés ou parrainés par Fideros.

                            </p>
                            <h3 class="font-weight-semibold">Licence et accès</h3>
                            <p>Sous réserve du respect des présentes Conditions d'Utilisation et des Conditions des Services et du paiement de tous les sommes applicables, Fideros ou ses fournisseurs de contenu vous accorde une licence limitée, non exclusive, non transférable, non sous licenciable pour l'accès et à l'utilisation personnelle et non commerciale des Services Fideros. Cette licence n'inclut aucun droit d'utilisation d'un Service Fideros ou de son contenu pour la vente ou tout autre utilisation commerciale ; de collecte et d'utilisation d'un listing produit, descriptions, ou prix de produits; de toute utilisation dérivée d'un Service Fideros ou de son contenu ; de tout téléchargement ou copie des informations d'un compte pour un autre commerçant ; ou de toute utilisation de robot d'aspiration de données, ou autre outil similaire de collecte ou d'extraction de données. </p>
                            <p>Tous les droits qui ne vous ont pas été expressément accordés dans ces Conditions d'Utilisation ou dans les Conditions d'un Service sont réservés et restent à Fideros ou à ses licenciés, fournisseurs, éditeurs, titulaires de droits, ou tout autre fournisseur de contenu. Aucun Service Fideros ou tout ou partie de celui-ci ne doit être reproduit, copié, vendu, revendu, visité ou exploité pour des raisons commerciales sans notre autorisation expresse et écrite.</p>
                            <p>Vous ne devez pas cadrer ou utiliser des techniques de cadrage (framing) pour insérer toute marque, logo ou autre information commerciale (y compris des images, textes, mises en pages ou formes) de Fideros sans notre autorisation expresse et écrite. Vous ne devez pas utiliser de méta tags ou tout autre « texte caché » utilisant le nom ou les marques déposées de Fideros sans notre autorisation expresse et écrite.</p>
                            <p>Vous ne devez pas faire un mauvais usage d'un Service Fideros. Vous devez utiliser les Services Fideros comme autorisé par la loi. Les licences accordées par Fideros prendront fin si vous ne respectez pas ces Conditions d'Utilisation ou les Conditions des Services.</p>
                            <h3 class="font-weight-semibold">Votre compte</h3>
                            <p>Vous pouvez avoir besoin d'un compte personnel Fideros pour utiliser certain Services Fideros, et il peut vous être demandé de vous connecter au compte et d'avoir une méthode de paiement valide associée à celui-ci. En cas de problème pour utiliser la méthode de paiement que vous avez sélectionnée, nous pourrons utiliser toute autre méthode de paiement valide associée à votre compte. Cliquez ici pour gérer vos options de paiement.</p>
                            <p>Si vous utilisez un quelconque Service Fideros, vous êtes responsable du maintien de la confidentialité de votre compte et mot de passe, des restrictions d'accès à votre ordinateur et autres équipements, et dans la limite de ce qui est autorisé par la loi applicable, vous acceptez d'être responsable de toutes les activités qui ont été menées depuis de votre compte ou avec votre mot de passe. Vous devez prendre toutes les mesures nécessaires pour vous assurer que votre mot de passe reste confidentiel et sécurisé, et devez nous informer immédiatement si vous avez des raisons de croire que votre mot de passe est connu de quelqu'un d'autre, ou si le mot de passe est utilisé ou susceptible d'être utilisé de manière non autorisée. Vous êtes responsable de la validité et du caractère complets des informations que vous nous avez fournies, et devez nous informer de tout changement concernant ces informations. Vous pouvez accéder à vos informations dans la section Votre compte du site internet. Veuillez consulter nos pages d'aide relatives à la Protection de vos informations personnelles pour accéder à vos informations personnelles.</p>
                            <p>Vous ne devez pas utiliser un quelconque Service Fideros : (i) d'une façon qui causerait, ou serait susceptible de causer une interruption, un dommage, ou une altération d'un Service Fideros, or (ii) dans un but frauduleux, ou en relation avec un crime ou une activité illégale, ou (iii) dans le but provoquer des troubles, nuisances ou causes d'anxiétés.</p>
                            <p>Nous nous réservons le droit de refuser l'accès, de fermer un compte, de retirer ou de modifier du contenu si vous êtes en violation des lois applicables, de ces Conditions d'utilisation ou tous autres termes, conditions, lignes directrices ou politique de Fideros.</p>
                            <h3 class="font-weight-semibold">Commentaires et autres contenus</h3>
                            <p>Les visiteurs peuvent mettre en ligne des revues, des commentaires ou tout autre contenu ; envoyer des cartes électroniques ou autres communications, et soumettre des suggestions, des idées, des questions ou toute autre information tant que ce contenu n'est pas illégal, obscène, abusif, menaçant, diffamatoire, calomnieux, contrevenant aux droits de propriété intellectuelle, ou préjudiciable à des tiers ou répréhensible et ne consiste pas ou ne contient pas de virus informatiques, de militantisme politique, de sollicitations commerciales, de chaînes de courriers électroniques, de mailing de masse ou toute autre forme de « spam ». Vous ne devez pas utiliser une fausse adresse e-mail, usurper l'identité d'une personne ou d'une entité, ni mentir sur l'origine d'une carte de crédit ou d'un contenu. Nous nous réservons le droit (sans aucune obligation en l'absence d'un Formulaire de Notification valide), de retirer ou de modifier tout contenu. Si vous pensez qu'un contenu ou une annonce de vente sur un quelconque Service Fideros contient un message diffamatoire, ou que vos droits de propriété intellectuelle ont été enfreints par un article ou une information sur le site internet, merci de nous le notifier en complétant le Formulaire de Notification adéquat, et nous y répondrons. </p>
                            <p>Si vous publiez des commentaires clients, , des questions / réponses ou tout autre contenu généré par vous pour être publié sur le site internet (incluant toute image, vidéo ou enregistrement audio, ensemble le « contenu ») , vous accordez à Fideros, (i) une licence non-exclusive et gratuite pour utiliser, reproduire, , publier, rendre disponible, traduire et modifier ce contenu dans le monde entier(incluant le droit de sous-licencier ces droits à des tiers); et (b) le droit d'utiliser le nom que vous avez utilisé en lien avec ce contenu. Aucuns droits moraux ne sont transférés par l'effet de cette clause.</p>
                            <p>Vous pouvez supprimer votre contenu de la vue du public ou, lorsque cette fonctionnalité est offerte, modifier les paramètres pour qu'il ne soit visible que par les personnes auxquelles vous en avez donné l'accès. Vous déclarez et garantissez être propriétaire ou avoir les droits nécessaires sur le contenu que vous publiez ; que, à la date de publication du contenu ou du matériel : (i) le contenu et le matériel est exact, (ii) l'utilisation du contenu et du matériel que vous avez fourni ne contrevient pas à l'une des procédures ou lignes directrices de Fideros et ne portera pas atteinte à toute personne physique ou morale (notamment que le contenu ou le matériel ne sont pas diffamatoires). Vous acceptez d'indemniser Fideros en cas d'action d'un tiers contre Fideros en lien avec le contenu ou le matériel que vous avez fourni, sauf dans le cas où l'éventuelle responsabilité de Fideros pourrait être recherchée pour ne pas avoir retiré un contenu dont le caractère illicite lui aurait été notifié (Formulaire de Notification), dès lors que cette action aurait pour cause, fondement ou origine le contenu que vous nous avez communiqué.</p>
                            <h3 class="font-weight-semibold">Autres partenaires</h3>
                            <p>Des tiers autres qu'Fideros gèrent des boutiques, proposent des services et vendent des lignes de produits sur ce site internet. De surcroit, nous fournissons des liens vers des sites internet de société affiliées et d'un certain nombre d'entreprises. Nous ne sommes pas responsables de l'examen ou de l'évaluation, et nous ne garantissons pas les offres de ces entreprises ou de ces particuliers, ou le contenu de leurs sites internet. Fideros n'assume aucune responsabilité ou obligation pour les actes, produits ou contenu de ces entreprises ou de ces particuliers ou d'autres tiers. Vous êtes informés quand un tiers est impliqué dans votre transaction, et nous pouvons partager vos informations en lien avec cette transaction avec ce tiers. Vous devez examiner leurs politiques de confidentialité et autres conditions d'utilisation avec attention.</p>
                            <h3 class="font-weight-semibold">Rôle de Fideros</h3>
                            <p>Fideros permet à des vendeurs tiers de lister et de vendre leurs produits sur www.fideros.com. Dans chacun de ces cas, ceci est indiqué sur la page respective de détail du produit. Bien que Fideros, en tant qu'hébergeur, facilite les transactions réalisées sur la place de marché (ou Marketplace) de Fideros, Fideros n'est ni l'acheteur ni le vendeur des produits des vendeurs tiers. Fideros fournit un lieu de rencontre dans lequel les acheteurs et vendeurs complètent et finalisent leurs transactions. En conséquence, pour la vente de ces produits de vendeurs tiers, un contrat de vente est formé uniquement entre l'acheteur et le vendeur tiers. Fideros n'est pas partie à un tel contrat et n'assume aucune responsabilité ayant pour origine un tel contrat ou découlant de ce contrat de vente. Fideros n'est ni l'agent ni le mandataire des vendeurs tiers. Le vendeur tiers est responsable des ventes de produits et des réclamations ou tout autre problème survenant ou lié au contrat de vente entre lui et l'acheteur. Parce qu'Fideros souhaite que l'acheteur bénéficie d'une expérience d'achat la plus sûre, Fideros offre la Garantie A à Z en plus de tout droit contractuel ou autre.</p>
                            <h3 class="font-weight-semibold">Responsabilité de Fideros</h3>
                            <p>Nous ferons de notre mieux pour assurer la disponibilité des Services Fideros et que les transmissions se feront sans erreurs. Toutefois, du fait de la nature d'internet, ceci ne peut être garanti. De plus, votre accès aux Services Fideros peut occasionnellement être suspendu ou limité pour permettre des réparations, la maintenance, ou ajouter une nouvelle fonctionnalité ou un nouveau service. Nous nous efforcerons de limiter la fréquence et la durée de ces suspensions ou limitations.</p>
                            <p>Dans le cadre de ses relations avec des professionnels, Fideros n'est pas responsable (i) des pertes qui n'ont pas été causées par une faute de notre part, ou (ii) des pertes commerciales (y compris les pertes de profit, bénéfice, contrats, économies espérées, données, clientèle ou dépenses superflues), ou (iii) toute perte indirecte ou consécutive qui n'étaient pas prévisibles par vous et nous quand vous avez commencé à utiliser le Service Fideros.</p>
                            <p>Nous ne serons pas tenus pour responsables des délais ou de votre impossibilité à respecter vos obligations en application de ces conditions si le délai ou l'impossibilité résulte d'une cause en dehors de notre contrôle raisonnable. Cette condition n'affecte pas votre droit légal de recevoir les produits envoyés et les services fournis dans un temps raisonnable ou de recevoir un remboursement si les produits ou les services commandés ne peuvent être délivrés dans un délai raisonnable en raison d'une cause hors de notre contrôle raisonnable.</p>
                            <p>Les lois de certains pays ne permettent pas certaines des limitations énumérées ci-dessus. Si ces lois vous sont applicables, tout ou partie de ces limitations ne vous sont pas applicables, et vous pouvez disposer de droits supplémentaires.</p>
                            <p>Rien dans ces conditions ne vise à limiter ou n'exclure notre responsabilité en cas de dol, ou en cas de décès ou de préjudice corporel causé(e) par notre négligence ou une faute lourde.</p>
                            <h3 class="font-weight-semibold">Droit applicable</h3>
                            <p>Les présentes Conditions d'utilisation sont soumises au droit luxembourgeois (à l'exception de ses dispositions concernant les conflits de loi), et l'application de la Convention de Vienne sur les contrats de vente internationale de marchandises est expressément exclue. Si vous êtes un consommateur et que votre résidence habituelle est située dans un pays de l'Union Européenne, vous bénéficiez également de droits vous protégeant en vertu des dispositions obligatoires de la loi applicable dans votre pays de résidence. Vous, comme nous, acceptons de soumettre tous les litiges occasionnés par la relation commerciale existant entre vous et nous à la compétence non exclusive des juridictions de la ville de Luxembourg, ce qui signifie que pour l'application des présentes Conditions d'utilisation, vous pouvez intenter une action pour faire valoir vos droits de consommateur, au Luxembourg ou dans le pays de l'Union Européenne dans lequel vous résidez. La Commission Européenne met à disposition une plateforme en ligne de résolution des différends à laquelle vous pouvez accéder ici: https://ec.europa.eu/consumers/odr/. Si vous souhaitez attirer notre attention sur un sujet, merci de nous contacter.</p>
                            <h3 class="font-weight-semibold">Modifications</h3>
                            <p>Nous nous réservons le droit de faire des modifications sur tout Service Fideros, à nos procédures, à nos termes et conditions, y compris les présentes Conditions d'utilisation à tout moment. Vous êtes soumis aux termes et conditions, procédures et Conditions d'utilisation en vigueur au moment où vous utilisez le Service Fideros. Si une stipulation de ces Conditions d'utilisation est réputée non valide, nulle, ou inapplicable, quelle qu'en soit la raison, cette stipulation sera réputée divisible et n'affectera pas la validité et l'opposabilité des stipulations restantes.</p>
                            <h3 class="font-weight-semibold">Renonciation</h3>
                            <p>Si vous enfreignez ces Conditions d'utilisation et que nous ne prenons aucune action, nous serions toujours en droit d'utiliser nos droits et voies de recours dans toutes les autres situations où vous violeriez ces Conditions d'utilisation.</p>
                            <h3 class="font-weight-semibold">Mineurs</h3>
                            <p>Nous ne vendons pas de produits aux mineurs. Nous vendons des produits pour enfants pour des achats par des adultes. Si vous avez moins de 18 ans, vous ne pouvez utiliser un Service Fideros que sous la surveillance d'un parent ou d'un tuteur. Les offres de produits contenant de l'alcool sont destinées à des personnes majeures. Vous devez avoir au moins 18 ans pour acheter de l'alcool ou utiliser toute fonctionnalité du site concernant de l'alcool.</p>
                            <h3 class="font-weight-semibold">Violation de droits</h3>
                            <p>i vous pensez que vos droits ont été violés et que vous êtes éligible aux Registre des Marques, veuillez vous inscrire au service et soumettre votre plainte via le Registre des Marques. Sinon, merci d'utiliser notre Formulaire de Notification. Ce formulaire peut être utilisé pour nous soumettre toute sorte de plainte de propriété intellectuelle y compris, sans toutefois s'y limiter, les plaintes liées aux droits d'auteur, de marques, de dessins et modèles et de brevets. Dès réception d'un Formulaire de Notification, nous pouvons prendre certaines mesures, notamment la suppression d'informations ou d'un article et mettre fin aux infractions répétées dans des circonstances appropriées. Ces mesures seront toutefois prises sous toutes réserves, sans reconnaissance de notre part d'une responsabilité quelconque et sans préjudice de l'exercice de nos droits, actions et moyens de défense. Ceci comprend également le transfert de ce formulaire aux parties concernées par l'infraction alléguée. Vous acceptez d'indemniser Fideros contre toute réclamation de tiers contre Fideros, découlant de, ou dans le cadre de cette notification.</p>
                            <p>Note concernant les offres des vendeurs tiers : merci de garder à l'esprit que les offres des vendeurs tiers sont seulement hébergées sur www.fideros.com et sont publiées uniquement sous la direction des vendeurs tiers qui peuvent être contactés par leur page « Informations sur le vendeur », accessible depuis toutes leurs offres.</p>
                            <p>Avertissement important : fournir des informations inexactes, trompeuses ou fausses dans un Formulaire de Notification adressé à Fideros engage sa responsabilité civile et/ou pénale. En cas de doute, veuillez contacter un conseiller juridique..</p>
                            <h3 class="font-weight-semibold">Contenus illicites</h3>
                            <p>
                                Parce que des millions de produits sont listés et que des milliers de commentaires sont hébergés sur www.fideros.com, il ne nous est pas possible de connaître le contenu de tous les produits offerts à la vente, ou de tous les commentaires ou critiques qui sont affichés. En conséquence, nous opérons sous un système de « notice and action » soit « notifier et action ». Si vous pensez qu'un contenu ou une annonce de vente sur le site internet contient un message diffamatoire, merci de nous le notifier immédiatement en complétant la Procédure et le Formulaire de notification en vue de notifier un contenu injurieux ou diffamatoire. Suivez les instructions dans le formulaire de Notification.

                                Avertissement important : fournir des informations inexactes, trompeuses ou fausses dans la Notification adressée à Fideros peut engager votre responsabilité civile et/ou pénale.
                            </p>
                            <h3 class="font-weight-semibold">Utilisation des logiciels Fideros</h3>
                            <p>Vous pouvez utiliser les Logiciels Fideros aux seules fins de vous permettre d'utiliser et de profiter des Services Fideros tels que fournis par Fideros, et tels qu'autorisé par les Conditions d'utilisation, des présentes Conditions Logiciel Fideros, et des Conditions des Services. Il est interdit d'intégrer tout ou partie d'un Logiciel Fideros dans vos propres programmes, de compiler tout ou partie d'un Logiciel Fideros avec vos propres programmes, de transférer tout ou partie d'un Logiciel Fideros pour l'utiliser avec un autre service ou de vendre, louer, prêter, distribuer ou sous-licencier tout ou partie d'un Logiciel Fideros ou transférer un quelconque droit sur tout ou partie de ce Logiciel Fideros. Vous ne pouvez utiliser les Logiciels Fideros à des fins illégales. Nous nous réservons le droit de mettre fin à toute utilisation d'un Logiciel Fideros et de vous retirer les droits d'utilisation d'un Logiciel Fideros à tout moment. Si vous ne respectez pas les présentes Conditions Logiciel Fideros, les Conditions d'utilisation et toutes Conditions des Services Fideros, les droits d'utilisation d'un Logiciel Fideros qui vous sont accordés vous seront automatiquement retirés sans notification préalable. Des conditions supplémentaires définies par des tiers et contenues ou distribuées avec certains Logiciels Fideros et spécifiquement identifiées dans la documentation connexe peuvent être applicables à ces Logiciels Fideros (ou logiciels intégrés dans un Logiciel Fideros) et prévaudront en cas de conflit avec les présentes Conditions d'utilisation. Tout logiciel utilisé dans un quelconque Service Fideros est la propriété de Fideros ou de ses fournisseurs de logiciels et est protégé par les lois luxembourgeoises et internationales sur la protection des programmes d'ordinateur et du copyright.</p>
                            <h3 class="font-weight-semibold">Utilisation de services tiers</h3>
                            <p>Lorsque vous utilisez un Logiciel Fideros, vous pouvez également être amené à utiliser les services d'un ou plusieurs tiers, tels que ceux d'un opérateur mobile ou d'un fournisseur de plateforme mobile. L'utilisation de ces services tiers peut être soumise aux politiques, conditions d'utilisation et à des frais de ces tiers.</p>
                            <h3 class="font-weight-semibold">Interdiction d'ingénierie inverse</h3>
                            <p>Vous ne pouvez et vous n'encouragerez pas, ni n'assisterez ou n'autoriserez qui que ce soit à (i) copier, modifier, altérer d'une autre façon un Logiciel Fideros en tout ou partie, créer des œuvres dérivées à partir ou du Logiciel Fideros ou (ii) effectuer de l'ingénierie inverse, décompiler ou désassembler un Logiciel Fideros en tout ou partie, sauf dans les limites autorisées par la loi.</p>
                            <h3 class="font-weight-semibold">Mise à jour</h3>
                            <p>Afin de garder les Logiciels Fideros à jour, nous pouvons offrir des mises à jour automatiques ou manuelles à tout moment et sans notification préalable.</p>

                        </div>

                        <br />
                        <a id="TERMSOFSALES"></a>
                        <div id="DIV-TERMSOFSALES">
                            <h2 class="font-weight-semibold">CONDITIONS GENERALES DE VENTE</h2>

                            <h3 class="font-weight-semibold">1.&nbsp;Objet</h3>
                            <p>Les présentes Conditions Générales de Vente (CGV) établissent les conditions contractuelles applicables à toute souscription, par un Annonceur ou tout Utilisateur des Services Fideros connecté à son Compte Personnel, d'option(s) payante(s) et d’achat de crédits depuis le Site Internet et les Applications. </p>
                            <h3 class="font-weight-semibold">Acceptation</h3>
                            <p>
                                Toute souscription d'option(s) payante(s) et/ou achat de crédits par un Annonceur vaut acceptation pleine et entière des CGV en vigueur.
                            </p>
                            <h3 class="font-weight-semibold">Souscription et achats de crédit Fideros</h3>
                            <p>
                                La souscription d'une ou plusieurs option(s) payante(s) est exclusivement accessible aux Annonceurs connectés à leur Compte Personnel depuis le Site Internet et/ou les Applications.
                                <br />
                                Une option payante n'est souscrite que pour une seule Annonce. En conséquence, il n'est pas possible de transférer le bénéfice d'une option payante d'une Annonce à une autre.
                                <br />
                                Il est possible de souscrire plusieurs options payantes pour une même Annonce et ce de manière simultanée ou non.
                                <br />
                                Le prix de chaque option payante varie en fonction du type d'option souscrite et de la catégorie de dépôt sélectionnée. La grille tarifaire des options payantes par catégorie est accessible à partir du lien "Tarification" depuis le Site Internet et les Applications.
                                <br />
                                L'Annonceur reconnait et accepte que toute Annonce déposée dans une catégorie ne correspondant pas au produit ou au service proposé puisse être supprimée à tout moment, par FIDEROS et ce sans indemnité ni droit à remboursement des sommes engagées aux fins de la souscription à des options payantes.
                                <br />
                                L’achat de crédits s'effectue exclusivement depuis le Compte Personnel de l'Annonceur.
                                <br />
                                Les crédits achetés permettent de souscrire à une ou des option(s) payante(s) telle(s).
                                <br />
                                Les crédits sont attachés au Compte Personnel à partir duquel ils ont été achetés et peuvent être transférés sur un autre Compte Personnel.
                                <br />
                                Chaque Crédit a une durée de validité de 12 mois, qui court à compter du jour de son achat.
                                <br />
                                En conséquence, tout crédit non consommé avant la fin de sa durée de validité de  12 mois sera supprimé du Compte Personnel de l'Annonceur, sans possibilité de remboursement ou d'indemnisation.
                                <br />
                                Aucune prolongation de durée de validité d'un crédit ne pourra être demandée à FIDEROS.
                                <br />
                                La suppression d'un Compte Personnel entraine la suppression des crédits associés à ce compte.
                            </p>
                            <h3 class="font-weight-semibold">Services payants</h3>
                            <p>
                                Les Sercices payants sont disponibles et accessibles à partir du lien "Tarification" depuis le Site Internet et les Applications.
                            </p>
                            <h3 class="font-weight-semibold">Prix</h3>
                            <p>Les tarifs appliqués sont ceux en vigueur au jour de l'achat d'une ou des option(s) payante(s) ou d'une offre de crédits par l'Annonceur. FIDEROS se réserve la possibilité de modifier ses prix à tout moment.</p>
                            <h3 class="font-weight-semibold">Paiement et facturation</h3>
                            <p>
                                La souscription à une ou des option(s) payante(s) peut se faire par tout Annonceur connecté à son Compte Personnel :
                                <ul style="list-style:circle;margin-left:15px">
                                    <li>
                                        par carte bancaire depuis le Site Internet et les Applications ;
                                    </li>
                                    <li>
                                        par crédits depuis le Site Internet et les Applications. Si le solde de crédits est insuffisant, l'Annonceur peut compléter son règlement par un paiement par carte bancaire.
                                    </li>
                                </ul>

                                Le paiement est exigible lors de la souscription de chaque option payante.
                                <br />
                                Toute souscription d'option payante par carte bancaire donnera lieu à une facture envoyée à l'adresse mail indiquée par l'Annonceur lors du dépôt de son Annonce.
                                <br />
                                Toute souscription d'option payante par crédits donnera lieu à l'envoi d'un justificatif à l'adresse mail indiquée par l'Annonceur lors de la création de son Compte Personnel.
                                <br />
                                Toute souscription d'option payante par crédits et carte bancaire donnera lieu à l'envoi de deux mails : un premier mail de facture correspondant au paiement par carte bancaire et un second mail comprenant un justificatif d'achat de crédits.
                                <br />
                                Les factures et justificatifs apparaîtront dans le Compte Personnel.
                                <br />
                                L'Annonceur, depuis l'onglet "Mes Achats", a la possibilité de télécharger, en format PDF, ses factures et justificatifs relatifs à la souscription d’options payantes.
                                <br />
                                L'achat de crédits se fait par carte bancaire uniquement ou auprès d'un revendeur agréé par FIDEROS, par tout Annonceur connecté à son Compte Personnel.
                                <br />
                                L'historique des achats de crédits sera consultable depuis le Compte Personnel.
                                <br />

                                L'Annonceur, depuis l'onglet "Mes Achats", a la possibilité de télécharger, en format PDF  ses factures relatives à l'achat de crédits.
                                <br />
                                Les crédits ne sont pas remboursables.
                                <br />
                                Les options payantes ne sont pas remboursables.

                                En cas de suppression d'Annonce, si la diffusion d'une Annonce est refusée par FIDEROS en raison de sa non-conformité aux règles de diffusion du Service Fideros :

                                <ul style="list-style:circle;margin-left:15px">
                                    <li>
                                        le montant de la ou des option(s) payante(s) souscrite(s) lors du dépôt ou de la modification de l'Annonce ne sera pas prélevé et un email sera adressé à l'Annonceur l'informant que son Annonce a été refusée par FIDEROS et ne sera pas diffusée ;
                                    </li>
                                    <li>
                                        les crédits utilisés pour payer le montant de la ou des option(s) payante(s) ne seront pas prélevés du Compte Personnel de l'Annonceur ;
                                        dans le cas d'un paiement de la ou des option(s) payante(s) par crédits et carte bancaire, les sommes payées seront restituées sous forme de crédits, ce que l'Annonceur reconnait et accepte.
                                    </li>
                                </ul>

                                En revanche, si FIDEROS était contraint de supprimer l'Annonce en cours de diffusion en raison de sa non-conformité aux règles de diffusion du Service Fideros et notamment parce que son contenu a été, légitimement, signalé comme abusif, FIDEROS ne remboursera pas à l'Annonceur les crédits et/ou le montant de la ou des option(s) payante(s) souscrite(s) lors du dépôt ou de la modification de l'Annonce ainsi supprimée en cours de diffusion.
                                <br />
                                En cas de suppression d'un Compte Personnel
                                <br />
                                La suppression d'un Compte Personnel entraine la suppression de toute(s) Annonce(s) attachée(s), et en conséquence, la suppression de toute(s) option(s) payante(s) souscrite(s) pour ces Annonces et ne donne droit à aucun droit à remboursement, ni indemnité, ce que l'Annonceur reconnait et accepte.

                                <br />
                                La suppression d'un Compte Personnel entraine la suppression des crédits associés, n'ouvrant aucun droit à remboursement, ce que l'Annonceur reconnait et accepte.

                                <br />

                                En application des articles L 221-18 et suivants du code de la consommation, l'Annonceur dispose d'un délai de quatorze (14) jours francs pour se rétracter. Toutefois, en validant la commande, l'Annonceur accepte que FIDEROS commence à exécuter la prestation et renonce expressément à son droit de rétractation.
                            </p>
                            <h3 class="font-weight-semibold">Responsabilités</h3>
                            <p>La responsabilité de FIDEROS ne peut être engagée en cas d'inexécution ou de mauvaise exécution de la commande due, soit du fait de l'Annonceur, soit d'un cas de force majeure.</p>
                            <h3 class="font-weight-semibold">Modification</h3>
                            <p>

                                Les présentes CGV sont applicables à partir du 01 novembre 2019.
                                <br />
                                FIDEROS se réserve la possibilité, à tout moment, de modifier en tout ou partie les CGV.
                                <br />
                                Les Annonceurs sont invités à consulter régulièrement les CGV afin de prendre connaissance des changements apportés.
                            </p>
                            <h3 class="font-weight-semibold">Autes dispositions</h3>
                            <p>
                                Tout traitement de données personnelles dans le cadre des présentes est soumis aux dispositions de notre politique de confidentialité, qui fait partie intégrante des présentes CGV.
                                <br />
                                Si une partie des CGV devait s'avérer illégale, invalide ou inapplicable, pour quelque raison que ce soit, les dispositions en question seraient réputées non écrites, sans remettre en cause la validité des autres dispositions qui continueront de s'appliquer entre les Annonceurs et FIDEROS, sauf s'il s'agissait d'une clause impulsive et déterminante ayant amené l'une des Parties à souscrire à l'Option payante.
                                <br />
                                Toute réclamation doit être adressée au Service Client de FIDEROS.
                                <br />
                                Les Utilisateurs sont informés de la liste d’opposition au démarchage téléphonique « Bloctel » sur laquelle ils peuvent s’inscrire : https://conso.bloctel.fr/.
                                <br />
                                Les CGV sont soumises au droit français.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--/Add listing-->
