@using System.Globalization;
@{
    ViewBag.Title = "Fideros Investment";
    ViewBag.MetaDescription = "Investissez dans l'avenir de l'Économie Africaine. Opportunité unique de croissance au cœur de la ZLECAf.";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<!--Sliders Section-->
<section>
    <div class="bannerimg cover-image bg-background3" data-image-src="../assets/images/banners/banner2.jpg">
        <div class="header-text mb-0">
            <div class="container">
                <div class="text-center text-white">
                    <h1 class="mb-6" style="font-size: 3rem; font-weight:800; font-family:'Maven Pro';">
                        BIENVENUE AUX INVESTISSEURS !
                    </h1>
                    <p class="mb-5" style="font-size: 1.5rem;">
                        Investissez dans l'avenir de l'Économie Africaine.
                        <br />
                        Opportunité unique de croissance au cœur de la ZLECAf.
                    </p>
                    <span><a class="btn btn-secondary" href="@Url.Action("WebContact", "Global")" style="font-size: 1.1rem;font-weight:bold">INVESTIR DANS FIDEROS</a></span>
                </div>
            </div>
        </div><!-- /header-text -->
    </div>
</section>
<!--Sliders Section-->
<!--Locations-->
<section class="sptb bg-white">
    <div class="container">        
        @* <div class="section-title center-block text-center">
            <p style="font-family:'Maven Pro';font-size: 20px;">Ce site est dédié aux investisseurs enthousiasmés par les opportunités offertes par la Zone de Libre-Échange Continentale Africaine (ZLECAf) et par notre plateforme digitale B2B innovante Fideros.</p>
        </div> *@
        <div class="item-all-cat center-block text-center books-categories" id="container2">
            <h1 style="font-size: 2rem; font-weight:800; font-family:'Maven Pro';">
                Fideros : La Plateforme B2B qui Connecte l’Afrique au Monde
            </h1>
            <div class="row">
                <div class="col-lg-12">
                    <div class="item-all-card text-dark text-justify p-4 bg-white m">
                        <div class="item-all-text">
                            <p class=" mb-0" style="font-size:18px;">
                                <b>Fideros</b>&nbsp;est une&nbsp;<b>plateforme digitale B2B innovante</b>&nbsp;dédiée à&nbsp;<b>simplifier et sécuriser</b>&nbsp;les transactions commerciales entre les entreprises africaines et leurs partenaires européens, en priorité au sein de la ZLECAf.<br />
                                En combinant&nbsp;<b>contrats intelligents et technologie blockchain</b>, Fideros offre une solution fiable pour répondre aux défis du commerce intra-africain et international.
                            </p>                          
                        </div>  
                        <div class="item7-card-img">
                            <img src="../assets/images/brand/Secure-Business_Pipeline.png" alt="img" class="cover-image">
                        </div>
                    </div>
                </div>
            </div>
        </div>        
    </div>
</section>
<!--Locations-->
<!--Faq section-->
<section class="sptb">
    <div class="container">
        <div class="panel-group1" id="accordion2">
            <div class="panel panel-default mb-4 border p-0">
                <div class="panel-heading1">
                    <h3 class="panel-title1">
                        <a class="accordion-toggle collapsed" data-bs-toggle="collapse" data-parent="#accordion2" href="#collapseone" aria-expanded="false"><span style="font-family:'Maven Pro';font-weight:500"><b>1. Pourquoi Investir dans Fideros ?</b></span></a>
                    </h3>
                   </div>
                <div id="collapseone" class="panel-collapse collapse active" role="tabpanel" aria-expanded="false">
                    <div class="panel-body bg-white">
                        <ul class="list-unstyled widget-spec vertical-scroll mb-0">
                            <li>
                                <i class="fa fa-check text-success" aria-hidden="true"></i><span style="font-size:18px;">
                                    <b>Marché en forte croissance :</b>&nbsp;Le commerce intra-africain et les échanges avec l'Europe sont en plein essor grâce à la ZLECAf, un marché unifié de plus de 1,2 milliard de consommateurs. Fideros se positionne en leader pour faciliter ces échanges.
                                </span>
                            </li>
                            <li>
                                <i class="fa fa-check text-success" aria-hidden="true"></i><span style="font-size:18px;">
                                    <b>Technologie de pointe :</b>&nbsp;Grâce à l’utilisation des contrats intelligents et de la blockchain, Fideros offre des transactions sûres, transparentes, et automatisées, éliminant les intermédiaires et réduisant les risques.
                                </span>
                            </li>
                            <li>
                                <i class="fa fa-check text-success" aria-hidden="true"></i><span style="font-size:18px;">
                                    <b>Opportunités massives :</b>&nbsp;Les entreprises africaines recherchent des solutions numériques pour accéder aux marchés internationaux. Avec Fideros, nous fournissons des outils puissants tels que la marketplace, le répertoire de partenaires, et des outils de gestion des contrats.
                                </span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="panel panel-default mb-4 border p-0">
                <div class="panel-heading1">
                    <h3 class="panel-title1">
                        <a class="accordion-toggle collapsed" data-bs-toggle="collapse" data-parent="#accordion2" href="#collapsetwo" aria-expanded="false"><span style="font-family:'Maven Pro';font-weight:500"><b>2. Chiffres Clés</b></span></a>
                    </h3>
                </div>
                <div id="collapsetwo" class="panel-collapse collapse active" role="tabpanel" aria-expanded="false">
                    <div class="panel-body bg-white">
                        <ul class="list-unstyled widget-spec vertical-scroll mb-0">
                            <li>
                                <i class="fa fa-check text-success" aria-hidden="true"></i><span style="font-size:18px;">
                                    <b>450 000 €</b>&nbsp;de BFR initial pour soutenir la croissance rapide de la plateforme.
                                </span>
                            </li>
                            <li>
                                <i class="fa fa-check text-success" aria-hidden="true"></i><span style="font-size:18px;">
                                    <b>Objectif 2027 :</b>&nbsp;Atteindre 2 millions d'utilisateurs à travers l'Afrique et l'Europe.
                                </span>
                            </li>
                            <li>
                                <i class="fa fa-check text-success" aria-hidden="true"></i><span style="font-size:18px;">
                                    <b>Marché en croissance : </b>&nbsp;Une croissance annuelle estimée à 7% du commerce intra-africain avec des échanges internationaux qui dépassent les 1 000 milliards d’euros.
                                </span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="panel panel-default mb-4 border p-0">
                <div class="panel-heading1">
                    <h3 class="panel-title1">
                        <a class="accordion-toggle collapsed" data-bs-toggle="collapse" data-parent="#accordion2" href="#collapsethree" aria-expanded="false"><span style="font-family:'Maven Pro';font-weight:500"><b>3. Nos Avantages Concurrentiels</b></span></a>
                    </h3>
                </div>
                <div id="collapsethree" class="panel-collapse collapse active" role="tabpanel" aria-expanded="false">
                    <div class="panel-body bg-white">
                        <ul class="list-unstyled widget-spec vertical-scroll mb-0">
                            <li>
                                <i class="fa fa-check text-success" aria-hidden="true"></i><span style="font-size:18px;">
                                    <b>Sécurité renforcée :</b>&nbsp;Transactions sécurisées par la blockchain hybride et la signature numérique.
                                </span>
                            </li>
                            <li>
                                <i class="fa fa-check text-success" aria-hidden="true"></i><span style="font-size:18px;">
                                    <b>Tarification flexible :</b>&nbsp;Modèle freemium avec services premium à forte valeur ajoutée pour répondre aux besoins des entreprises de toutes tailles.
                                </span>
                            </li>
                            <li>
                                <i class="fa fa-check text-success" aria-hidden="true"></i><span style="font-size:18px;">
                                    <b>Efficacité opérationnelle : </b>&nbsp;Paiement à l’usage pour les services, réduisant les barrières à l’entrée pour les entreprises africaines.
                                </span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="panel panel-default mb-4 border p-0">
                <div class="panel-heading1">
                    <h3 class="panel-title1">
                        <a class="accordion-toggle collapsed" data-bs-toggle="collapse" data-parent="#accordion2" href="#collapsefour" aria-expanded="false"><span style="font-family:'Maven Pro';font-weight:500"><b>4. Opportunités d'Investissement – Phase d'Amorçage</b></span></a>
                    </h3>
                </div>
                <div id="collapsefour" class="panel-collapse collapse active" role="tabpanel" aria-expanded="false">
                    <div class="panel-body bg-white">
                        <span style="font-size:18px;">
                            Nous vous offrons l'opportunité d'investir dans une entreprise en phase d'amorçage, avec un modèle solide et une plateforme innovante qui a déjà franchi l'étape du MVP. Fideros est prêt à consolider ses bases et à accélérer son expansion sur le marché africain.
                            <br />
                            <br />
                            <b>Objectif de l'Amorçage : 850 000 €</b>
                            <br />
                            <br />
                            Cet investissement servira à :<br /><br />
                        </span>
                        <ul class="list-unstyled widget-spec vertical-scroll mb-0">
                            <li>
                                <i class="fa fa-check text-success" aria-hidden="true"></i><span style="font-size:18px;">
                                    <b>Consolider l'infrastructure technologique</b>&nbsp;et ajouter des fonctionnalités clés à la plateforme (contrats intelligents, marketplace, signature numérique).
                                </span>
                            </li>
                            <li>
                                <i class="fa fa-check text-success" aria-hidden="true"></i><span style="font-size:18px;">
                                    <b>Recruter une équipe de 16 personnes</b>&nbsp;(développement, marketing, commercial) pour accélérer les opérations et l'acquisition de clients.
                                </span>
                            </li>
                            <li>
                                <i class="fa fa-check text-success" aria-hidden="true"></i><span style="font-size:18px;">
                                    <b>Lancer les premières campagnes marketing</b>&nbsp;ciblées sur l'Afrique et l'Europe pour attirer les premiers milliers d'utilisateurs.
                                </span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="panel panel-default mb-4 border p-0">
                <div class="panel-heading1">
                    <h3 class="panel-title1">
                        <a class="accordion-toggle collapsed" data-bs-toggle="collapse" data-parent="#accordion2" href="#collapsefive" aria-expanded="false"><span style="font-family:'Maven Pro';font-weight:500"><b>5. Pourquoi Investir Maintenant ?</b></a>
                    </h3>
                </div>
                <div id="collapsefive" class="panel-collapse collapse active" role="tabpanel" aria-expanded="false">
                    <div class="panel-body bg-white">

                        <ul class="list-unstyled widget-spec vertical-scroll mb-0">
                            <li>
                                <i class="fa fa-check text-success" aria-hidden="true"></i><span style="font-size:18px;">
                                    <b>Premier à saisir une opportunité : </b>&nbsp;Fideros est à un moment clé de son développement. En rejoignant le projet maintenant, vous participez à une croissance rapide sur un marché en forte expansion.
                                </span>
                            </li>
                            <li>
                                <i class="fa fa-check text-success" aria-hidden="true"></i><span style="font-size:18px;">
                                    <b>Modèle éprouvé : </b>&nbsp;Avec une plateforme déjà opérationnelle et des services B2B qui répondent aux besoins critiques du commerce intra-africain, l’amorçage de Fideros est une opportunité stratégique pour les investisseurs cherchant à s'impliquer dans une startup à fort potentiel.
                                </span>
                            </li>
                            <li>
                                <i class="fa fa-check text-success" aria-hidden="true"></i><span style="font-size:18px;">
                                    <b>Impact direct sur la croissance :</b>&nbsp;Les fonds d'amorçage permettront de construire une base solide pour atteindre les premiers objectifs de croissance : acquisition de clients, partenariats stratégiques, et monétisation accélérée.
                                </span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="panel panel-default mb-4 border p-0">
                <div class="panel-heading1">
                    <h3 class="panel-title1">
                        <a class="accordion-toggle collapsed" data-bs-toggle="collapse" data-parent="#accordion2" href="#collapsesix" aria-expanded="false"><span style="font-family:'Maven Pro';font-weight:500"><b>6. Votre Rôle dans cette Phase</b></span></a>
                    </h3>
                </div>
                <div id="collapsesix" class="panel-collapse collapse active" role="tabpanel" aria-expanded="false">
                    <div class="panel-body bg-white" style="font-size:18px;">
                        <span>
                            En tant qu'investisseur dans cette phase d'amorçage, vous jouerez un rôle clé dans la réalisation de la vision de Fideros. Vous aiderez à :<br /><br />
                        </span>
                        <ul class="list-unstyled widget-spec vertical-scroll mb-0" style="font-size:18px;">
                            <li>
                                <i class="fa fa-check text-success" aria-hidden="true"></i><span style="font-size:18px;">
                                    <b>Premier à saisir une opportunité : </b>&nbsp;Fideros est à un moment clé de son développement. En rejoignant le projet maintenant, vous participez à une croissance rapide sur un marché en forte expansion.
                                </span>
                            </li>
                            <li>
                                <i class="fa fa-check text-success" aria-hidden="true"></i><span style="font-size:18px;">
                                    <b>Financer les premières étapes critiques</b>&nbsp;de croissance (recrutement, développement technologique, marketing).
                                </span>
                            </li>
                            <li>
                                <i class="fa fa-check text-success" aria-hidden="true"></i><span style="font-size:18px;">
                                    <b>Accélérer l’adoption du marché</b>&nbsp;intra-africain avec une offre de services de pointe pour le commerce B2B.
                                </span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--/Faq section-->

<section class="sptb bg-white">
    <div class="container">
        <div class="item-all-cat center-block text-center books-categories" id="container2">
            <div class="row">
                <div class="col-lg-4 col-md-4">
                    <div class="card">
                        <div class="card-body">
                            <div class="item-box text-center">
                                <div class="stamp text-center stamp-lg bg-primary "><i class="fa fa-users"></i></div>
                                <div class="item-box-wrap">
                                    <h3 class="mb-2" style="font-family:'Maven Pro';font-weight:500">L'ÉQUIPE</h3>
                                    <p class=" mb-0" style="font-size:18px;">
                                        Nous sommes une équipe d'experts en systèmes d'information, d'ingénieurs logiciels et en commerce international, déterminés à révolutionner le commerce en Afrique grâce à la technologie.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4">
                    <div class="card">
                        <div class="card-body">
                            <div class="item-box text-center">
                                <div class="stamp text-center stamp-lg bg-primary "><i class="fa fa-globe"></i></div>
                                <div class="item-box-wrap">
                                    @*typcn typcn-world*@
                                    <h3 class="mb-2" style="font-family:'Maven Pro';font-weight:500">QU'EST-CE QUE LA ZLECAf ?</h3>
                                    <p class="text-muted mb-0" style="font-size:18px;">
                                        En vigueur depuis 2021, la ZLECAf est une initiative de création d'un marché unique à l'échelle du continent africain pour les biens et les services, les affaires et les investissements.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-4">
                    <div class="card">
                        <div class="card-body">
                            <div class="item-box text-center">
                                <div class="stamp text-center stamp-lg bg-primary "><i class="zmdi zmdi-view-web"></i></div>
                                <div class="item-box-wrap">
                                    <h3 class="mb-2" style="font-family:'Maven Pro';font-weight:500">PLATEFORME FIDEROS</h3>
                                    <p class="text-muted mb-0" style="font-size:18px;">
                                        Fideros est une plateforme B2B sécurisée qui utilise des contrats intelligents pour faciliter, fluidifier et sécuriser les transactions commerciales entre entreprises en Afrique dans le cadre de la ZLECAf
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
        <!--Blogs-->
<section class="sptb">
    <div class="container">
        <div class="section-title center-block text-center">
            <h1 style="font-size: 2rem; font-weight:800; font-family:'Maven Pro';">
                POURQUOI INVESTIR DANS FIDEROS ?
            </h1>
        </div>
        <div id="defaultCarousel" class="owl-carousel Card-owlcarousel owl-carousel-icons">
            <div class="item">
                <div class="card mb-0">
                    <div class="item7-card-img">
                        <img src="../assets/images/photos/innovation.jpg" alt="img" class="cover-image">
                    </div>
                    <div class="card-body p-4" style="height:250px">
                        <h4 class="font-weight-semibold" style="font-family:'Maven Pro'">UNE INNOVATION DISRUPTIVE</h4>
                        <p class="text-muted mb-0" style="font-size:18px;">
                            Fideros est en train de redéfinir la manière dont les entreprises interagissent au sein de la ZLECAf grâce à notre MVP révolutionnaire.<br />
                            Une large gamme de services innovants répondant aux besoins spécifiques des entreprises.
                        </p>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="card mb-0">
                    <div class="item7-card-img">
                        <img src="../assets/images/photos/zleca.jpg" alt="img" class="cover-image">
                    </div>
                    <div class="card-body p-4" style="height:250px">
                        <h4 class="font-weight-semibold" style="font-family:'Maven Pro'">UN POTENTIEL SANS LIMITE</h4>
                        <p class="text-muted mb-0" style="font-size:18px;">
                            La ZLECAf représente un marché de 3 400 milliards de dollars en pleine croissance, offrant des opportunités inégalées.
                        </p>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="card mb-0">
                    <div class="item7-card-img">
                        <img src="../assets/images/photos/equipe.jpeg" alt="img" class="cover-image">
                    </div>
                    <div class="card-body p-4" style="height:250px">
                        <h4 class="font-weight-semibold" style="font-family:'Maven Pro'">UNE ÉQUIPE SOLIDE</h4>
                        <p class="text-muted mb-0" style="font-size:18px;">
                            Notre équipe d'experts en systèmes d'information, d'ingénieurs possède une expérience approfondie dans le développement technologique et le commerce international.
                        </p>
                    </div>
                </div>
            </div>
            <div class="item">
                <a href="https://www.fideros.com" target="_blank">
                    <div class="card mb-0">
                        <div class="item7-card-img">
                       
                                <img src="../assets/images/photos/fideros_index.png" alt="img" class="cover-image">
                      
                        </div>
                        <div class="card-body p-4" style="height:250px">
                            <h4 class="font-weight-semibold" style="font-family:'Maven Pro'">STADE DE DÉVELOPPEMENT : MVP</h4>
                            <p class="text-muted mb-0" style="font-size:18px;">
                                Nous avons déjà développé un MVP fonctionnel, prêt à être développé pour répondre aux besoins du marché.
                            </p>
                        </div>
                    </div>  
                </a>
            </div>
            <div class="item">
                <div class="card mb-0">
                    <div class="item7-card-img">
                        <img src="../assets/images/photos/vision.jpg" alt="img" class="cover-image">
                    </div>
                    <div class="card-body p-4" style="height:250px">
                        <h4 class="font-weight-semibold" style="font-family:'Maven Pro'">NOTRE VISION</h4>
                        <p class="text-muted mb-0" style="font-size:18px;">
                            Fideros aspire à devenir la plateforme digitale leader pour la promotion, les échanges et la mise en relation des entreprises au sein de la ZLECAf. Notre engagement est d'accompagner la croissance et la prospérité de l'Afrique.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="sptb bg-white">
    <div class="container">
        <div class="item-all-cat center-block text-center books-categories" id="container2">
            <h1 style="font-size: 2rem; font-weight:800; font-family:'Maven Pro';">
                PROCHAINES ÉTAPES
            </h1>
            <div class="row">
                <div class="col-lg-12">
                    <div class="item-all-card text-dark text-center p-4 bg-white m">
                        <div class="item-all-text">
                            <p class=" mb-0" style="font-size:18px;">
                                Si vous partagez notre vision et notre enthousiasme, nous sommes ouverts aux discussions avec les investisseurs potentiels.
                                <br />
                                Contactez-nous pour planifier une réunion exploratoire et découvrez comment vous pouvez être un catalyseur de cette transformation.
                            </p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="container">
        <div class="item-all-cat center-block text-center books-categories" id="container3">
            <h1 style="font-size: 2rem; font-weight:800; font-family:'Maven Pro';">
                PRENDRE CONTACT
            </h1>
            <div class="row">
                <div class="col-lg-12">
                    <div class="card ">
                        <div class="card-body">
                            <div class="support">
                                <div class="row text-white">
                                    <div class="col-xl-4 col-lg-12 col-md-12">
                                        <div class="support-service bg-primary">
                                            <a class="text-white" href="tel:+33633372424" target="_blank">
                                                <i class="fa fa-phone"></i>
                                                <h6>+33 6 33 37 24 24</h6>
                                                <P>CEO Fideros</P>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-xl-4 col-lg-12 col-md-12">
                                        <div class="support-service bg-primary">
                                            <a class="text-white" href="https://wa.me/22991953795?text=Information&nbsp;sur&nbsp;Fideros" target="_blank">
                                                <i class="fa fa-whatsapp"></i>
                                                <h6>+229 91 95 37 95</h6>
                                                <P>CEO Fideros</P>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-xl-4 col-lg-12 col-md-12">
                                        <div class="support-service bg-secondary">
                                            <a class="text-white" href="mailto:investment@fideros.com" target="_blank">
                                                <i class="fa fa-envelope-o"></i>
                                                <h6>investment@fideros.com</h6>
                                                <p>CEO Fideros</p>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12"><span><a class="btn btn-secondary" href="@Url.Action("WebContact", "Global")" style="font-size: 1.1rem;font-weight:bold">INVESTIR DANS FIDEROS</a></span></div>
            </div>
        </div>
    </div>



</section>
<!--Blogs-->
