@{
    ViewBag.Title = "Fideros Investment : Informations légales";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--Breadcrumb-->
<section>
    <div class="bannerimg cover-image bg-background3" data-image-src="../assets/images/banners/banner2.jpg">
        <div class="header-text mb-0">
            <div class="container">
                <div class="text-center text-white ">
                    <h1 class="mb-1" style="font-size: 3rem; font-weight:800; font-family:'Maven Pro';">INFORMATIONS LÉGALES</h1>
                </div>
            </div>
        </div>
    </div>
</section>
<!--/Breadcrumb-->
<!--Add listing-->
<section class="sptb">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12">
                <div class="card">
                    <div class="card-body text-justify">
                        <div class="item7-card-desc d-flex mb-2 mt-2">
                        </div>
                        <p class=" mb-0" style="font-size:16px;">L'Entreprise <b>ISITIAM</b> est l'éditrice du présent site, dont l'établissement principal est situé à CLAIX - 38640 (FRANCE), enregistrée au RCS de GRENOBLE sous le numéro 398 041 525.</p>
                        <br />
                        <p class=" mb-0" style="font-size:16px;">
                            L'exploitation commerciale du site est assurée également par la société <b>ISITIAM</b>.
                        </p>

                        <p class=" mb-0" style="font-size:16px;">
                            Numéro de TVA : FR51 521147645
                        </p>
                        <p class=" mb-0" style="font-size:16px;">
                            Hébergeur du site : OVH SAS (2, rue Kellermann, 59100 Roubaix)<br />
                            Responsable de Traitement : ISITIAM (globalservices@fideros.com)<br />
                            Responsable du site web : ISITIAM (globalservices@fideros.com)<br />
                            Contact : <a href="@Url.Action("WebContact", "Global")">veuillez cliquer ici pour nous écrire</a><br />
                        </p>
                        <br />
                        <br />
                        <h1 style="font-size: 1.6rem; font-weight:500; font-family:'Maven Pro';">
                            Propriété intellectuelle
                        </h1>
                        <p class=" mb-0" style="font-size:16px;">
                            Toute reproduction partielle ou totale non autorisée par <b>ISITIAM</b>, de quelques informations contenues sur ce site sont strictement interdites.
                            <br />Tout contrevenant s'expose à des poursuites judiciaires.
                        </p>
                        <br />
                        <br />
                        <h1 style="font-size: 1.6rem; font-weight:500; font-family:'Maven Pro';">
                            Protection des données personnelles
                        </h1>
                        <p class=" mb-0" style="font-size:16px;">
                            D'une façon générale, vous pouvez visiter notre site Web sur Internet sans avoir à décliner votre identité et à fournir des informations personnelles vous concernant.<br />
                            Cependant, nous pouvons parfois vous demander des informations.
                            Par exemple, pour traiter une commande pour vous permettre d'accéder à certains de nos services, établir une correspondance ou soumettre une candidature à un poste.<br />
                            Nous pouvons compléter ces informations pour conclure une transaction ou offrir un meilleur service.
                        </p>
                        <p class=" mb-0" style="font-size:16px;">
                            Notre politique de protection des données personnelles est <a href="@Url.Action("Privacy-notice", "Global")">disponible ici</a>
                        </p>
                        <br />
                        <br />
                        <h1 style="font-size: 1.6rem; font-weight:500; font-family:'Maven Pro';">Charte de FIDEROS</h1>
                        <p class=" mb-0" style="font-size:16px;">
                            Toute reproduction partielle ou totale non autorisée par <b>ISITIAM</b>, de quelques informations contenues sur ce site sont strictement interdites.
                            <br />Tout contrevenant s'expose à des poursuites judiciaires.
                        </p>
                        <br />
                        <br />
                        <h1 style="font-size: 1.6rem; font-weight:500; font-family:'Maven Pro';">Conditions d'utilisation du site</h1>
                        <ul style="list-style:circle;margin-left:15px; font-size:16px;">
                            <li>Le présent site Web et l'ensemble de son contenu, y compris textes, images fixes ou animées, bases de données, programmes, langage, jsp, cgi, etc., nommé ci-après le Site Web, est protégé par le droit d'auteur. </li>
                            <br />
                            <li>ISITIAM ne vous concède qu'une autorisation de visualisation de son contenu à titre personnel et privé, à l'exclusion de toute visualisation ou diffusion publique. L'autorisation de reproduction ne vous est concédée que sous forme numérique sur votre ordinateur de consultation aux fins de visualisation des pages consultées par votre logiciel de navigation. L'impression papier est autorisée aux fins de copie privée à l'usage exclusif du copiste au sens de l'article L. 122-5 2° du Code de la Propriété Intellectuelle. La création d'un lien hypertexte sur le Site Web est autorisée sans frame vers l'adresse de la page d'accueil du site (http://www.fideros.com) à l'exclusion de toute autre adresse. </li>
                            <br />
                            <li> Toute autre utilisation non expressément visée aux présentes n'est pas permise et nécessite l'accord exprès écrit et préalable d'ISITIAM. Il ne vous est pas permis en dehors des utilisations expressément concédées ci-dessus, notamment : de reproduire des marques et logos de FIDEROS, d'utiliser tous programmes ou cgi utilisés par le Site Web, etc. </li>
                            <br />
                            <li>Malgré les soins apportés par l'équipe ISITIAM, les informations contenues dans le présent site Web sont données à titre indicatif et sont sujettes à changement sans préavis.</li>
                            <br />
                            <li>
                                FIDEROS ne vous garantit pas l'exactitude, complétude, adéquation ou fonctionnement du site Web ou de l'information qu'il contient, ni que ladite information a été vérifiée.
                            </li>
                            <br />
                            <li>FIDEROS n'assume aucune responsabilité relative à l'information contenue et à l'existence ou la disponibilité de toute offre mentionnée dans le présent site Web et décline toute responsabilité découlant d'une négligence ou autre concernant cette information.</li>
                            <br />
                            <li>Le présent Site Web a été créé en France. En utilisant le présent Site Web, vous acceptez les conditions d'utilisation décrites ci-avant, sans préjudice de tous recours de nature contractuelle ou délictuelle pouvant être exercés par ISITIAM. Tout litige portant sur l'interprétation ou l'exécution d'un engagement contractuel prévu au présent site sera de la compétence exclusive des tribunaux français faisant application de la loi française. </li>
                        </ul>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--/Add listing-->
