@{
    ViewBag.Title = "Fideros Investment : Charte de confidentialité";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--Breadcrumb-->
<section>
    <div class="bannerimg cover-image bg-background3" data-image-src="../assets/images/banners/banner2.jpg">
        <div class="header-text mb-0">
            <div class="container">
                <div class="text-center text-white ">
                    <h1 class="mb-1" style="font-size: 3rem; font-weight:800; font-family:'Maven Pro';"> Charte de confidentialité</h1>
                </div>
            </div>
        </div>
    </div>
</section>
<!--/Breadcrumb-->
<!--Add listing-->
<section class="sptb">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12">
                <div class="card">
                    <div class="card-body text-justify">
                        <div class="item7-card-desc d-flex mb-2 mt-2">
                        </div>
                        <h1 style="font-size: 1.6rem; font-weight:500; font-family:'Maven Pro';">Introduction</h1>
                        <p class=" mb-0" style="font-size:16px;">
                            La protection de votre vie privée est une priorité essentielle, et nous utilisons vos données pour vous fournir les services sur notre site ou communiquer avec vous.
                        </p>
                        <br />
                        <p class=" mb-0" style="font-size:16px;">
                            A ce titre, voici les huit principes auxquels veillent ISITIAM et l’ensemble de ses collaborateurs :
                            <br />
                            <ul style="list-style:circle;margin-left:15px; font-size:16px;">
                                <li>Ne jamais collecter ou n’exploiter de données sans une finalité précise et légitime ;</li>
                                <br />
                                <li>
                                    Ne collecter des données que dans l’un des cadres suivants :
                                    <ul style="list-style:square;margin-left:15px">
                                        <li>
                                            Données nécessaires à l’exécution des contrats et des prestations demandées
                                        </li>
                                        <li>
                                            Consentement exprès et spécifique de votre part
                                        </li>
                                        <li>
                                            Intérêt légitime de l’entreprise dûment justifié
                                        </li>
                                    </ul>
                                </li>

                                <br />
                                <li>
                                    Ne collecter et n’exploiter que les données strictement nécessaires aux traitements
                                </li>
                                <br />
                                <li>
                                    Ne conserver les données que pour une durée limitée et cohérente avec les services fournis
                                </li>
                                <br />
                                <li>
                                    Assurer en permanence la qualité et la sécurité des données
                                </li>
                                <br />
                                <li>
                                    Ne réaliser de transferts de données que quand cela est nécessaire, et dans le respect des règles légales et de sécurité
                                </li>
                                <br />
                                <li>
                                    Vous fournir en permanence une information claire et transparente
                                </li>
                                <br />
                                <li>
                                    Veiller au respect de vos droits et des conditions de leur exercice
                                    La présente charte de confidentialité s’applique à l’ensemble des sites, applications mobile et services de ISITIAM.<br />
                                    <br />  Le principal responsable de traitement des données sur le site FIDEROS est ISITIAM (RCS Grenoble B 398 041 525), sise à Claix - 38640 FRANCE. Son représentant légal est M. Soliyou TIAMIOU, en tant que Responsable.
                                    <br />
                                    Vous pouvez aussi contacter le Délégué à la Protection des Données d'ISITIAM (globalservices@fideros.com)
                                </li>
                            </ul>
                        </p>
                        <br />
                        <h1 style="font-size: 1.6rem; font-weight:500; font-family:'Maven Pro';">A quoi servent vos données</h1>
                        <p class=" mb-0" style="font-size:16px;">
                            ISITIAM ne collecte et n’exploite des données vous concernant que pour des objectifs précis et limités à ce qui est nécessaire pour vous, à savoir :
                            <br />
                            <ul style="list-style:circle;margin-left:15px; font-size:16px;">
                                <li>
                                    Traiter vos demandes ou commandes :

                                    <ul style="list-style:square;margin-left:15px">
                                        <li>
                                            Fournir des informations sur vos demandes de prestations de services ;
                                        </li>
                                        <li>
                                            Relayer vos informations auprès de nos partenaires pour l’exécution de vos demandes de prestations de services ;
                                        </li>
                                    </ul>
                                </li>

                                <br />
                                <li>
                                    Gérer votre compte client : Chez ISITIAM, le compte client n’est pas obligatoire. En revanche, il est très utile car il s’agit d’un espace qui vous est entièrement dédié, et qui vous permet en toute transparence de :
                                    <ul style="list-style:square;margin-left:15px">
                                        <li>
                                            De passer des commandes de manière simplifiée (saisie automatique de vos données : identification, localisation, …)
                                        </li>
                                        <li>
                                            D’accéder et de suivre vos données liées à l’expédition.
                                        </li>
                                        <li>
                                            D’accéder à vos données de commande.
                                        </li>
                                    </ul>
                                </li>

                                <br />
                                <li>
                                    Communiquer avec vous : Pour ISITIAM, maintenir le contact avec vous est essentiel, mais nous ne le faisons que de manière très raisonnée, et nous ne vous envoyons des communications électroniques, via e-mail, SMS ou notification mobile, que pour les motifs suivants :

                                    <ul style="list-style:square;margin-left:15px">
                                        <li>
                                            Le suivi des commandes : envoi d’une confirmation de commande et tout autre message lié à la prestation que vous avez commandée ;
                                        </li>
                                        <li>
                                            La gestion de votre compte client : confirmation de création ou de fermeture, modification des mots de passe ;
                                        </li>
                                        <li>
                                            La gestion de votre candidature : confirmation de réception de votre candidature, envoi de notre réponse à votre candidature ;
                                        </li>

                                        <li>
                                            Vous proposez une offre et des services personnalisés : Chez ISITIAM, nous avons à cœur de vous proposer en permanence les produits et les offres les plus susceptibles de vous convenir, ainsi que des contenus personnalisés :
                                        </li>
                                        <li>
                                            Dans les communications commerciales que nous vous adressons.
                                        </li>
                                        <li>
                                            Lors de votre navigation sur notre site ISITIAM.
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                            <br />
                        <p class=" mb-0" style="font-size:16px;">
                            Vous pouvez à tout moment formuler une réclamation ou demander des informations en contactant le service Client d'ISITIAM.
                        </p>
                        </p><br />

                        <h1 style="font-size: 1.6rem; font-weight:500; font-family:'Maven Pro';">Gestion des données</h1>
                        <p class=" mb-0" style="font-size:16px;">
                            Chez ISITIAM, nous veillons scrupuleusement au principe de « minimisation », à savoir ne collecter que les données strictement nécessaires aux finalités définies ci-dessus, à savoir :
                            <br />
                            <ul style="list-style:circle;margin-left:15px; font-size:16px;">
                                <br />
                                <li>
                                    Données d’identification (nom, adresse e-mail, adresse IP) : ces données sont essentielles pour toutes vos demandes, inscription à un compte client.
                                </li>
                                <br />
                                <li>
                                    Données de contact (n° de téléphone, adresse e-mail, adresse postale) : données utiles pour vous contacter en cas de besoin (problème lié à votre commande ou au service acheté, information client).
                                </li>
                                <br />
                                <li>
                                    Données de candidature (n° de téléphone, adresse e-mail, adresse postale, CV, lettre de motivation, …) : données utiles pour traiter votre demande et vous proposer des postes appropriées.
                                </li>
                                <br />
                                <li>
                                    Données techniques : en cours de navigation, ISITIAM recueille des informations comme la version de votre navigateur, le système d’exploitation utilisé ou le modèle de terminal utilisé : données nécessaires pour un affichage et un fonctionnement optimal des sites et applications FIDEROS.
                                </li>
                                <br />
                                <li>Données de navigation (recherches, nombre de visites, date de dernière visite…) : données utiles aux suivis de vos expéditions.  </li>
                            </ul>
                        </p><br />
                        <h1 style="font-size: 1.6rem; font-weight:500; font-family:'Maven Pro';">Par quels moyens les collectons-nous ?</h1>
                        <p class=" mb-0" style="font-size:16px;">
                            Chez ISITIAM, les sources de données sont :
                            <br />
                            <ul style="list-style:circle;margin-left:15px; font-size:16px;">
                                <li>
                                    Vous :
                                    <ul style="list-style:square;margin-left:15px">
                                        <li>
                                            Lorsque vous remplissez des formulaires sur le site et applications FIDEROS.
                                        <li>
                                            Lorsque vous naviguez sur les sites et applications ISITIAM (pages consultées, durée de consultation des pages.
                                        <li>
                                            Lorsque vous donnez spécifiquement votre consentement.
                                        <li>
                                            Pour chacune d’entre elles, vous êtes informés des données qui sont nécessaires et celles qui sont facultatives par des astérisques sur les formulaires de saisie.
                                        </li>
                                    </ul>
                                </li>

                                <br />
                                <li>
                                    Les informations techniques :
                                    <ul style="list-style:square;margin-left:15px">
                                        <li>
                                            Votre adresse IP, l’opérateur télécom et la localisation macroscopique de l’adresse IP.
                                        </li>
                                        <li>
                                            Les informations fournies par le navigateur sur le système d’exploitation et le navigateur utilisé.
                                        </li>
                                        <li>
                                            cookies : voir « Gestion des cookies ».
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </p><br />
                        <h1 style="font-size: 1.6rem; font-weight:500; font-family:'Maven Pro';">Combien de temps les données sont-elles conservées ?</h1>
                        <p class=" mb-0" style="font-size:16px;">
                            La politique générale de conservation des données de ISITIAM est la suivante :
                            <br />
                            <ul style="list-style:circle;margin-left:15px; font-size:16px;">

                                <br />
                                <li>
                                    Données d’identification : 3 ans à compter de la dernière date de visite du site ou de connexion au service client.
                                </li>
                                <br />
                                <li>
                                    Données de de demande ou commande : 3 ans à compter de la date de commande.
                                </li>
                                <br />
                                <li>
                                    Logs de connexion : 1 an à compter de chaque connexion.
                                </li>
                                <br />
                                <li>
                                    Cookies : 13 mois maximum à compter de leur dépôt sur votre ordinateur ou terminal.
                                </li>

                            </ul>
                        </p><br />
                        <h1 style="font-size: 1.6rem; font-weight:500; font-family:'Maven Pro';">Quels moyens sont mis en œuvre pour assurer leur sécurité ?</h1>
                        <p class=" mb-0" style="font-size:16px;">
                            ISITIAM est particulièrement vigilante à la sécurité de vos données, et pour cela consacre des moyens humains et techniques significatifs pour en assurer la protection. Une politique stricte de sécurité est en place pour définir les processus, les méthodes de travails et les règles de protection techniques à mettre en œuvre. De manière non exhaustive, voici quelques exemples concrets de mesures de sécurité mises en œuvre :
                            <ul style="list-style:circle;margin-left:15px; font-size:16px;">
                                <br />
                                <li>
                                    Des systèmes de protections automatisés contre les cyberattaques sont actifs.
                                </li>
                                <br />
                                <li>
                                    Les codes informatiques produits des sites web ISITIAM font l’objet de revues de code orientés sécurité.
                                </li>
                                <br />
                                <li>
                                    Des outils automatiques réalisent périodiquement des tests de sécurité sur les sites web.
                                </li>
                                <br />
                                <li>
                                    L’accès aux données personnelles des clients est soumis à des contrôles d’accès stricts.
                                </li>
                            </ul>
                        </p><br />
                        <h1 style="font-size: 1.6rem; font-weight:500; font-family:'Maven Pro';">Transfert des données</h1>
                        <p class=" mb-0" style="font-size:16px;">
                            La politique de ISITIAM est très claire à ce sujet : seuls les services internes pertinents ont accès à vos données dans le strict cadre des traitements décrits dans la présente charte, et ISITIAM ne transfère aucune donnée à des sociétés tierces pour tout autre motif que l’un des suivants :
                            <ul style="list-style:circle;margin-left:15px; font-size:16px;">
                                <br />
                                <li>
                                    Fourniture des prestations commandées : afin de pouvoir vous fournir les prestations de logistiques et de transports ou annexes proposées, les données sont transmises aux sociétés concernées, à savoir :
                                </li>
                                <br />
                                <li>
                                    Les transporteurs : Tous les transports référencés par le site ISITIAM pour exécuter les services demandés.
                                </li>
                                <br />
                                <li>
                                    Les partenaires : Assureurs, douanes, et tout autres partenaires impliqués dans le processus de réalisation des services demandés sur le site FIDEROS.
                                </li>
                                <br />
                                <li>
                                    Sous-traitance : ISITIAM a recours à des prestataires afin de pouvoir faire fonctionner ses sites et vous fournir les services proposés, et notamment
                                </li>
                                <br />
                                <li>
                                    Son prestataire de services informatiques Internet (ISITIAM) basée à Claix – F38640.
                                </li>
                                <br />
                                <li>
                                    Pour la relation clientèle : centres d’appels, outils de communication
                                </li>
                                <br />
                                <li>
                                    Pour les prestations marketing : Suivi marketing, envoi des newsletters.
                                </li>
                                <br />
                                <li>
                                    Publicité : les données sont transmises à des sociétés tierces pour la gestion des bandeaux publicitaires.
                                    Pour l’ensemble de ces transferts de données, ISITIAM veille impérativement à :
                                </li>
                                <br />
                                <li>
                                    Ne travailler qu’avec des entreprises de confiance et référencée.
                                </li>
                                <br />
                                <li>
                                    Sécuriser ses relations avec ces entreprises (contrats, audits, plan assurance sécurité).
                                </li>
                            </ul>
                        </p><br />
                        <h1 style="font-size: 1.6rem; font-weight:500; font-family:'Maven Pro';"> Vos droits</h1>
                        <p class=" mb-0" style="font-size:16px;">
                            Conformément aux dispositions du règlement no 2016/679, dit règlement général sur la protection des données (RGPD), vous disposez des droits suivants sur vos données et afin de vous assurer qu'ISITIAM respecte ses engagements.
                            <ul style="list-style:circle;margin-left:15px; font-size:16px;">
                                <br />
                                <li>
                                    Droit d’accès : Vous avez la possibilité de nous solliciter afin de savoir de quelles données ISITIAM dispose à votre sujet.
                                </li>
                                <br />
                                <li>
                                    Droit de correction et d’effacement : Vous avez la possibilité de corriger les données vous concernant et d’en demander l’effacement
                                </li>
                                <br />
                                <li>
                                    Droit d’opposition : Vous avez la possibilité de vous opposer à ce qu'ISITIAM réalise un certain nombre de traitements.
                                </li>
                                <br />
                                <li>
                                    Droit à la portabilité : Vous avez la possibilité de demander à ISITIAM que vous soient transmises les données vous concernant (données d’identification et de commande exclusivement) sous un format électronique (fichier csv).
                                </li>
                            </ul>
                            <br />
                        <p class=" mb-0" style="font-size:16px;">
                            Il est toutefois rappelé que l’exercice de ces droits n’est pas absolu, et peut être limité pour des motifs d’intérêt légitime (litiges clients) ou légaux.
                        </p>
                        </p><br />
                        <h1 style="font-size: 1.6rem; font-weight:500; font-family:'Maven Pro';">Comment puis-je exercer mes droits ?</h1>
                        <p class=" mb-0" style="font-size:16px;">
                            Droits d’accès, de correction, d’effacement et à la portabilité :
                            Vous avez la possibilité d’envoyer vos demandes au service clients d'ISITIAM par le formulaire électronique suivant ou par courrier à l’adresse suivante :
                            <br />
                            <br />
                        <p class=" mb-0" style="font-size:16px;">
                            <span>
                                Service Clients :<br /> ISITIAM
                                <br />38640 CLAIX
                                <br />FRANCE
                            </span>
                            <br />
                            <br />
                            Droit d’opposition :
                            <br />
                            Vous pouvez exercer votre droit d’opposition des manières suivantes :
                        </p>
                        <ul style="list-style:circle;margin-left:15px; font-size:16px;">
                            <li>
                                Pour les newsletters commerciales : en cliquant sur le lien de désinscription mentionné dans les newsletters qui vous sont adressées : ISITIAM s’engage alors à ne plus vous adresser de newsletters commerciales.
                            </li>
                            <li>
                                Pour la personnalisation et les cookies : en utilisant le dispositif de gestion des cookies mis à votre disposition https://www.fideros.com/Global/Cookies-notice.
                            </li>
                            <li>
                                Pour toute autre demande : en adressant vos demandes au service clients d'ISITIAM par le formulaire électronique suivant ou par courrier à l’adresse suivante :
                            </li>
                        </ul>
                        <br />
                        <p class=" mb-0" style="font-size:16px;">
                            <span>
                                Service Clients :<br /> ISITIAM
                                <br />380640 CLAIX
                                <br />FRANCE
                            </span>
                            <br />  <br />
                            Pour l’ensemble de ces demandes, et à des fins de sécurité, il vous sera demandé de vous identifier, et de communiquer au service clients ISITIAM une copie de votre pièce d’identité.
                        </p>
                        </p><br />
                        <h1 style="font-size: 1.6rem; font-weight:500; font-family:'Maven Pro';"> Vos droits</h1>
                        <p class=" mb-0" style="font-size:16px;">
                            Si vous n’êtes pas satisfait d’une réponse à l’un de ces droits, ou en cas de contestation sur l’usage des données qui est fait de vos données, vous avez la possibilité d’adresser vos demandes :
                            <ul style="list-style:circle;margin-left:15px; font-size:16px;">
                                <li>
                                    Au Délégué à la Protection des Données Personnelles d'ISITIAM (<a href="mailto:globalservices@fideros.com" style="text-decoration:underline">globalservices@fideros.com</a>)
                                </li>
                                <li>A la CNIL (<a href="(https://www.cnil.fr/fr/plaintes" style="text-decoration:underline" target="_blank">https://www.cnil.fr/fr/plaintes</a>)</li>
                            </ul>
                        </p><br />
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--/Add listing-->
