@model App.Mvc.Invest.Fideros.Models.RegisterNewsletterModel

<!-- Newsletter-->
<section class="sptb border-top">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 col-xl-6 col-md-12">
                <div class="sub-newsletter">
                    <h3 class="mb-2"><i class="fa fa-paper-plane-o mr-2"></i>Abonnez-vous à la newsletter Fideros</h3>
                    <p class="mb-0">Retrouvez périodiquement une synthèse de l’actualité Fideros : les bonnes affaires, les dernières mises à jour des produits et des services, les documents clés, les prochains événements. Soyez aussi informé(e)s des incentives actuelles !</p>
                </div>
            </div>
            
            <div class="col-lg-5 col-xl-6 col-md-12">
               
                    <div id="divnewsletter" class="sub-newsletter">
                    </div>
                <div class="subscribe-form">
                    <form method="post" id="mc-form" name="mc-form" class="group">
                        <input id="EmailAddress" type="email" name="EmailAddress" placeholder="Votre adresse email" required="">
                        <input id="BtnRegisterNewsletter" class="btn btn-theme" type="submit" name="BtnRegisterNewsletter" value="Abonnez-vous">
                    </form>
                </div>
            </div>
        </div>
        </div>
</section>

<!--/Newsletter-->

