@{
    ViewBag.Title = "Demande d'informations";
    ViewBag.MetaDescription = "Demande d'informations";     
}
<div id="form-crea-compte">
    <table>
        <tr>
            <td>
                @ViewBag.ContactTitle&nbsp;&nbsp;@ViewBag.Firstname&nbsp;&nbsp;@ViewBag.Lastname,
                <br />
                <br />
                Votre demande a bien été prise en compte.<br />
                Fideros vous remercie de votre demande et met tout en œuvre pour y répondre rapidement.<br />
                <br />
                L’équipe Fideros<br />
                email : globalservices@fideros.com
            </td>
        </tr>
    </table>
</div>
